{% load static %}
<div class="list-group box-shadow">
    <a class="list-group-item list-group-item-action text-center">
        <img src="{% static 'site_statics/img/profile/default.jpg' %}"
             alt="{{ request.user.get_full_name }}" class="rounded my-2">
        <h5 class="font-vazir-bold-fd my-2">{{ request.user.get_full_name }}</h5>
    </a>
    {% if request.user.shops.count != 0 %}
        <a href="{% url 'shop:shop-panel-main' request.user.shops.last.unique_uuid %}"
           class="list-group-item list-group-item-action">
            <i class="fas fa-list-ul"></i>
            فروشگاه شما
        </a>
    {% endif %}
    <a href="{% url 'account:user-profile-update' %}" class="list-group-item list-group-item-action">
        <i class="fas fa-user"></i>
        ویرایش حساب کاربری
    </a>
    <a href="{% url 'account:user-shop-invoices-list' %}" class="list-group-item list-group-item-action">
        <i class="fas fa-user"></i>
        فاکتور ها و صورتحساب ها
    </a>
    <a href="{% url 'account:logout' %}"
       class="list-group-item bg-danger text-white list-group-item-action">
        <i class="fas fa-right-from-bracket"></i>
        خروج
    </a>
</div>