{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}    پیکوفلز | فلزکاری عبدی - {{ object.description }}{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="shop-page">
            <section class="container my-5">
                <section class="row">
                    <div class="col-12 col-md-12 mb-2">
                        <div class="rounded-card">
                            <div class="abdi-metal-project-detail">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <ul class="abdi-metal-project-detail-meta">
                                            <li>
                                                <span>کارفرما :</span>
                                                <span class="text-primary">
                                                    {{ object.description }}
                                                </span>
                                            </li>
                                            <li>
                                                <span>پروژه :</span>
                                                <span class="text-primary">
                                                    {{ object.project.name }}
                                                </span>
                                            </li>
                                            {% if object.date %}
                                                <li>
                                                    <span>تاریخ ثبت فاکتور:</span>
                                                    <span dir="rtl" class="text-primary">
                                                    {{ object.date }}
                                                    </span>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>

                                    <div class="col-12 mb-4 mt-3">
                                        <p class="font-vazir-bold-fd mb-4 h5 title">جزئیات فاکتور</p>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">عنوان</th>
                                                    <th scope="col">مقدار</th>
                                                    <th scope="col">قیمت واحد</th>
                                                    <th scope="col">جمع</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for item in object.invoice_details.all %}
                                                    <tr>
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>{{ item.name|safe }}</td>
                                                        <td>
                                                            {{ item.quantity }}
                                                            {% if not item.quantity_name == '-' %}
                                                                <small>
                                                                    ({{ item.quantity_name }})
                                                                </small>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{ item.amount|intcomma:False }}
                                                            <small>
                                                                تومان
                                                            </small>
                                                        </td>
                                                        <td>
                                                            {{ item.get_total_price|intcomma:False }}
                                                            <small>
                                                                تومان
                                                            </small>
                                                        </td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td>فاکتوری ثبت نشده</td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <div class="col-12 mb-3">
                                        <ul class="abdi-metal-project-detail-meta list-unstyled">
                                            <li class="bg-light p-2">
                                                <span>جمع کل فاکتور:</span>
                                                {{ object.get_total_invoice_price|intcomma:False }} تومان
                                            </li>
                                        </ul>
                                    </div>

                                    {% if invoice.show_stamp %}
                                        <div class="col-2 col-sm-3 col-md-4"></div>
                                        <div class="col-7 col-sm-6 col-md-3 my-3 text-center">
                                            <div class="rounded border border-3 py-3 border-dark">
                                                <h6 class="font-vazir-bold-fd">گروه فلزکاری برادران عبدی</h6>
                                                <h6 class="font-vazir-bold-fd">09124675462</h6>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="col-12 mb-3">
                                        <button class="btn btn-outline-success disabled-print mt-3 mt-md-0"
                                                onclick="print()">
                                            دانلود pdf
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    {% if related_invoices %}
                        <div class="col-12 my-4 disabled-print">
                            <p class="font-vazir-bold-fd mb-4 h5 title">فاکتور های مرتبط</p>
                            <div class="row">
                                {% for related_invoice in related_invoices %}
                                    <div class="col-md-6 col-xl-4 mb-3">
                                        <a href="{% url 'metallurgy:customer-invoice-detail' related_invoice.id %}"
                                           class="card box-shadow">
                                            <div class="card-body py-4 px-4">
                                                <div class="mb-4">
                                                    <p class="h6 font-vazir-bold-fd">{{ related_invoice.description }}</p>
                                                    <p class="text-secondary abdi-metal-project-desc">
                                                        پروژه {{ related_invoice.project.name }}
                                                    </p>
                                                </div>
                                                <div class="abdi-metal-project-meta">
                                                    <p>

                                                        {{ related_invoice.date }}

                                                        <br>
                                                        <span>
                                                تاریخ
                                            </span>
                                                    </p>
                                                    <p>
                                                        {% if related_invoice.is_paid %}
                                                            پرداخت شده
                                                        {% else %}
                                                            پرداخت نشده
                                                        {% endif %}
                                                        <br>
                                                        <span>
                                                وضعیت پرداخت
                                            </span>
                                                    </p>
                                                    <p>
                                                        {{ related_invoice.get_total_invoice_price|intcomma:False }}
                                                        تومان
                                                        <br>
                                                        <span>
                                                جمع کل
                                            </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}
                </section>
            </section>
        </section>
    {% endwith %}
{% endblock %}
