{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}
    پیکوفلز | فلزکاری عبدی - {{ project.name }}
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="shop-page">
            <section class="container my-5">
                <section class="row">
                    <div class="col-12 col-md-12 mb-2">
                        <div class="rounded-card">
                            <div class="abdi-metal-project-detail">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="font-vazir-bold-fd">
                                        {{ project.name }}
                                        <span class="badge bg-primary">وضعیت: درحال کار</span>
                                    </h6>
                                    <button class="btn btn-outline-success disabled-print" onclick="print()">
                                        پرینت
                                    </button>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <ul class="abdi-metal-project-detail-meta">
                                            <li>
                                                <span>کارفرما (مشتری):</span>
                                                {% for user in project.customers.all %}
                                                    {{ user.get_full_name }}
                                                    {% if forloop.revcounter > 1 %}
                                                        ,
                                                    {% endif %}
                                                {% endfor %}

                                            </li>
                                            <li>
                                                <span>تاریخ شروع پروژه:</span>
                                                {% if project.start_date_jalali %}
                                                    {{ project.start_date_jalali }}
                                                {% else %}
                                                    نامشخص
                                                {% endif %}
                                            </li>
                                            <li>
                                                <span>تاریخ پایان پروژه:</span>
                                                {% if project.end_date_jalali %}
                                                    {{ project.end_date_jalali }}
                                                {% else %}
                                                    نامشخص
                                                {% endif %}
                                            </li>
                                            <li>
                                                <span>جمع فاکتور ها:</span>
                                                {{ project.get_total_expenses }} تومان
                                            </li>
                                            <li>
                                                <span>فاکتور های پرداخت شده:</span>
                                                {{ project.get_total_expenses_paid }} تومان
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="col-12">
                                        <p class="font-vazir-bold-fd mb-4 h5 title">فاکتور ها</p>

                                        <div class="d-none d-md-block font-vazir-bold-fd">
                                            <div class="row my-2" id="heading">
                                                <div class="col-4">
                                                    <div>عنوان</div>
                                                </div>
                                                <div class="col-2">
                                                    <div>تاریخ</div>
                                                </div>
                                                <div class="col-2 pl-4">
                                                    <div>وضعیت پرداخت</div>
                                                </div>
                                                <div class="col-2 pr-0">
                                                    <div class="pr-3">جمع کل</div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>

                                        {% for item in project.invoices.all %}
                                            <div class="row">
                                                <div class="col-12 col-md-4 mb-4">
                                                    <small class="d-md-none font-vazir-bold-fd">عنوان:</small>
                                                    <span class="pt-1">
                                                        <span class="product-price">{{ item.description }}</span>
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-2 mb-4">
                                                    <small class="d-md-none font-vazir-bold-fd">تاریخ:</small>
                                                    <span class="pt-1">
                                                        <span class="product-price">{{ item.date_jalali }}</span>
                                                    </span>
                                                </div>
                                                <div class="col-12 col-md-2 pl-4 pr-0 pr-md-3 mb-4">
                                                    <small class="d-md-none font-vazir-bold-fd">
                                                        وضعیت پرداخت:
                                                    </small>
                                                    <span class="pt-1">
                                                        {% if item.is_paid %}
                                                            <span class="badge bg-success">پرداخت شده</span>
                                                        {% else %}
                                                            <span class="badge bg-danger">پرداخت نشده</span>
                                                        {% endif %}
                                                    </span>
                                                </div>
                                                <div class="col-6 col-md-2 pr-0 mb-2">
                                                    <small class="d-md-none font-vazir-bold-fd">
                                                        جمع کل:
                                                    </small>
                                                    <div class="pt-1 pr-2 bg-light mb-3">
                                                        <span class="product-total">{{ item.get_total_invoice_price|intcomma:False }}</span>
                                                        <span>تومان</span>
                                                    </div>
                                                    <a
                                                            href="{% url 'metallurgy:customer-invoice-detail' item.pk %}"
                                                            class="product-remove btn-remove-from-basket text-primary disabled-print"
                                                            style="cursor: pointer"
                                                    >
                                                        <div class="small pl-2">
                                                            <i class="fas fa-eye"></i>
                                                            مشاهده
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <hr/>
                                        {% empty %}
                                            <div class="alert alert-secondary">
                                                فاکتوری برای این پروژه ثبت نشده.
                                            </div>
                                        {% endfor %}

                                    </div>


                                    {% if project.metal_orders.exists %}
                                        <div class="col-12 my-5">
                                            <p class="font-vazir-bold-fd mb-4 h5 title">فاکتور های آهن</p>
                                            <p class="disabled-print">
                                                <i class="fas fa-info-circle"></i>
                                                فاکتور های خرید آهن به صورت مستقیم از آهن فروش خرید و ثبت می شود و می
                                                توانید
                                                آنهارا به صورت مجزا مشاهده و مدیریت کنید.
                                            </p>

                                            <div class="d-none d-md-block font-vazir-bold-fd">
                                                <div class="row my-2" id="heading">
                                                    <div class="col-4">
                                                        <div>عنوان</div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div>تاریخ</div>
                                                    </div>
                                                    <div class="col-2 pl-4">
                                                        <div>وضعیت پرداخت</div>
                                                    </div>
                                                    <div class="col-2 pr-0">
                                                        <div class="pr-3">جمع کل</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>

                                            {% for item in project.metal_orders.all %}
                                                <div class="row">
                                                    <div class="col-12 col-md-4 mb-4">
                                                        <small class="d-md-none font-vazir-bold-fd">عنوان:</small>
                                                        <span class="pt-1">
                                                        <span class="product-price">{{ item.message|truncatewords:5 }}</span>
                                                    </span>
                                                    </div>
                                                    <div class="col-12 col-md-2 mb-4">
                                                        <small class="d-md-none font-vazir-bold-fd">تاریخ:</small>
                                                        <div class="pt-1">
                                                        <span class="product-price">
                                                            {{ item.created_jalali.day }}
                                                            {{ item.created_jalali.month }}
                                                            {{ item.created_jalali.year }}
                                                        </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-2 pl-4 pr-0 pr-md-3 mb-4">
                                                        <small class="d-md-none font-vazir-bold-fd">
                                                            وضعیت پرداخت:
                                                        </small>
                                                        <span class="pt-1">
                                                        {% if item.is_paid %}
                                                            <span class="badge bg-success">پرداخت شده</span>
                                                        {% else %}
                                                            <span class="badge bg-danger">پرداخت نشده</span>
                                                        {% endif %}
                                                    </span>
                                                    </div>
                                                    <div class="col-6 col-md-2 pr-0 mb-2">
                                                        <small class="d-md-none font-vazir-bold-fd">
                                                            جمع کل:
                                                        </small>
                                                        <div class="pt-1 pr-2 bg-light mb-3">
                                                            <span class="product-total">{{ item.amount_payable|intcomma:False }}</span>
                                                            <span>تومان</span>
                                                        </div>
                                                        <a
                                                                href="{% url 'account:user-order-detail' item.id %}"
                                                                class="product-remove btn-remove-from-basket text-primary disabled-print"
                                                                style="cursor: pointer"
                                                        >
                                                            <div class="small pl-2">
                                                                <i class="fas fa-eye"></i>
                                                                مشاهده
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <hr/>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <div class="col-12">
                                        <p class="font-vazir-bold-fd mb-4 h5 title">تراکنش ها</p>
                                        <div class="row">
                                            {% for transaction in project.transactions.all %}
                                                <div class="col-md-4 mb-3" style="font-size: 0.98rem">
                                                    <div class="card box-shadow disabled-shadow">
                                                        <div class="card-header">
                                                            <p class="h6">{{ transaction.summary }}</p>
                                                        </div>
                                                        <div class="card-body">
                                                            <p>
                                                                <small class="font-vazir-bold-fd">تاریخ:</small>
                                                                {{ transaction.date_jalali }}
                                                            </p>
                                                            <p>
                                                                <small class="font-vazir-bold-fd">وضعیت پرداخت:</small>
                                                                {% if transaction.status == 's' %}
                                                                    پرداخت موفق
                                                                    <i class="fas fa-check text-success"></i>
                                                                {% elif transaction.status == 'uns' %}
                                                                    پرداخت ناموفق
                                                                    <i class="fas fa-times text-danger"></i>
                                                                {% elif transaction.status == 'awp' %}
                                                                    درانتظار پرداخت
                                                                    <i class="fas fa-clock text-primary"></i>
                                                                {% endif %}
                                                            </p>
                                                            <p>
                                                                <small class="font-vazir-bold-fd">جزئیات پرداخت:</small>
                                                                {{ transaction.description }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <div class="alert alert-secondary">
                                                    تراکنشی برای این پروژه ثبت نشده.
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    {% endwith %}
{% endblock %}
