{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}پیکوفلز | نمونه کارها{% endblock %}

{% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url"
          content="https://picofelez.ir/metallurgy/portfolio/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | نمونه کارها - گروه فلزکاری عبدی">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="picofelez.ir">
    <meta property="twitter:url"
          content="https://picofelez.ir/portfolios/">
    <meta name="twitter:title" content="پیکوفلز | نمونه کارها - گروه فلزکاری عبدی">

    <meta name="keywords"
          content="فلزکاری عبدی،پیکوفلز،گروه فلزکاری،آهن،درب و پنجره آهنی،فرفورژه،جوشکاری،آهنگری،شاسی کشی نمای ساختمان">

    <meta name="name" content="پیکوفلز | نمونه کارها - گروه فلزکاری عبدی">
    <meta name="description" content="نمونه کارهای گروه فلزکاری عبدی">
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="portfolio-page">
            <!-- breadcrumb start -->
            <section class="page-title-box container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 px-0">
                                    <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                    <p>گروه فلزکاری عبدی</p>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'core:home' %}">خانه</a>
                                            </li>
                                            {% if request.resolver_match.url_name == 'work-sample-list' %}
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    نمونه کارها
                                                </li>
                                            {% else %}
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'core:work-sample-list' %}">نمونه کار ها</a>
                                                </li>

                                                <li class="breadcrumb-item active" aria-current="page">
                                                    {{ request.resolver_match.kwargs.slug }}
                                                </li>
                                            {% endif %}
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="title font-vazir-bold-fd">
                                        نمونه کارها
                                    </h4>
                                </div>
                                <div class="col-12 col-md-5 my-4">
                                    <form action="{% url 'core:work-sample-list' %}" method="get">
                                        <label for="search">جستجوی نمونه کار:</label>
                                        <div class="d-flex justify-content-around align-items-center mt-2">
                                            <input type="text" name="search" value="{{ request.GET.search }}"
                                                   placeholder="جستجو نمونه کار" class="form-control">
                                            <button type="submit" class="btn btn- btn-outline-success ms-1">
                                                جستجو
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-12"></div>

                                {% for worksample in page_obj %}
                                    <section class="col-lg-4 col-md-6 col-12 mb-3">
                                        {% include 'metallurgy/components/portfolio_card_component.html' %}
                                    </section>
                                {% endfor %}

                                <div class="col-12 my-2">
                                    {% include 'core/components/paginate_component.html' %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </section>
    {% endwith %}
{% endblock %}