{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} پیکوفلز | {{ object.title }}{% endblock %}

{% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url"
          content="https://picofelez.ir/metallurgy/portfolio/{{ object.pk }}/{{ object.get_name_replace }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | {{ object.title }}">
    <meta property="og:description"
          content="{{ object.summary }}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="picofelez.ir">
    <meta property="twitter:url"
          content="https://picofelez.ir/metallurgy/portfolio/{{ object.pk }}/{{ object.get_name_replace }}">
    <meta name="twitter:title" content="پیکوفلز | فلزکاری برادران عبدی">
    <meta name="twitter:description"
          content="{{ object.summary }}">

    <meta name="keywords"
          content="{{ object.keywords }}">

    <meta name="name" content="پیکوفلز | {{ object.title }}">
    <meta name="description" content="{{ object.summary }}">
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="shop-page">
            <section id="article-detail" class="article-detail">
                <section class="container">
                    <section class="row mt-3 justify-content-center">
                        <section class="col-md-10 py-4 py-md-5 mb-2">
                            <h4 class="mb-3 font-vazir-bold-fd text-center">
                                {{ object.title }}
                            </h4>
                            <div class="row">
                                <div class="col-12 col-md-5 mb-3">
                                    <div class="d-flex justify-content-start align-content-center bg-light rounded-end mb-3">
                                        <div class="bg-purple pt-2 px-3 rounded-start">
                                            <i class="fas fa-location-dot mt-1 text-center text-light" style="font-size: 1.2rem"></i>
                                        </div>
                                        <div class="pt-2 ps-2">
                                            <p style="font-size: 0.95rem">محل اجرا: {{ worksample.address }}</p>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-start align-content-center bg-light rounded-end mb-3">
                                        <div class="bg-purple pt-2 px-3 rounded-start">
                                            <i class="fas fa-calendar mt-1 text-light" style="font-size: 1.1rem"></i>
                                        </div>
                                        <div class="pt-2 ps-2">
                                            <p style="font-size: 0.95rem">تاریخ اجرا: {{ worksample.date }}</p>
                                        </div>
                                    </div>

                                    {% if worksample.customer %}
                                        <div class="d-flex justify-content-start align-content-center bg-light rounded-end mb-3">
                                            <div class="bg-purple pt-2 px-3 rounded-start">
                                                <i class="fas fa-calendar mt-1 text-light" style="font-size: 1.1rem"></i>
                                            </div>
                                            <div class="pt-2 ps-2">
                                                <p style="font-size: 0.95rem">کارفرما: {{ worksample.customer }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="col-12 col-md-7 mb-3">
                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                    data-bs-slide-to="0" class="active" aria-current="true"
                                                    aria-label="Slide 1"></button>

                                            {% for image in worksample.images.all %}

                                                {% if image.image %}
                                                    <button type="button" data-bs-target="#carouselExampleIndicators"
                                                            data-bs-slide-to="{{ forloop.counter }}"
                                                            aria-label="Slide {{ forloop.counter }}"></button>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="{{ object.image.url }}" class="d-block w-100 worksample-img"
                                                     alt="تصویر نمونه کار" style="height: 20rem">
                                                <div class="carousel-caption d-none d-md-block">
                                                    <div class="alert alert-light">
                                                        <h5 class="font-vazir-bold-fd">
                                                            ورق بزنید</h5>
                                                    </div>
                                                </div>
                                            </div>

                                            {% for image in worksample.images.all %}
                                                {% if image.image %}
                                                    <div class="carousel-item">
                                                        <img src="{{ image.image.url }}"
                                                             class="d-block w-100 worksample-img"
                                                             alt="تصویر نمونه کار" style="height: 20rem">
                                                        <div class="carousel-caption d-none d-md-block">
                                                            <div class="alert alert-light">
                                                                <h5 class="font-vazir-bold-fd">
                                                                    تصویر {{ forloop.counter }}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}

                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <h5 class="my-3 font-vazir-bold-fd text-center">
                                        توضیحات پروژه
                                    </h5>

                                    <p>
                                        {{ worksample.description }}
                                    </p>
                                </div>
                                {% for file in worksample.images.all %}
                                    {% if file.file %}
                                        <div class="col-12 mb-3 d-flex flex-column justify-content-center align-items-center">
                                            <h5 class="my-3 font-vazir-bold-fd text-center">
                                                ویدئو
                                            </h5>

                                            <video class="img-fluid" controls>
                                                <source src="{{ file.file.url }}" type="video/mp4">
                                                Your browser does not support the video tag.
                                            </video>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    {% endwith %}
{% endblock %}