{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    پیکوفلز |
    {% if category %}
        {{ category.name }}
    {% else %}
        نمونه کارها
    {% endif %}
{% endblock %}

{% block meta_tags %}
    <!-- Facebook Meta Tags -->
    {% if category %}
        <meta property="og:url"
              content="https://picofelez.ir/portfolio/category-{{ category.slug }}/{{ category.pk }}">
        <meta property="twitter:url"
              content="https://picofelez.ir/portfolios/category-{{ category.slug }}/{{ category.pk }}">
    {% else %}
        <meta property="og:url"
              content="https://picofelez.ir/portfolio/">
        <meta property="twitter:url"
              content="https://picofelez.ir/portfolios/">
    {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:title"
          content="پیکوفلز | {% if category %}{{ category.name }}{% else %}نمونه کارها - گروه فلزکاری عبدی{% endif %}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="picofelez.ir">
    <meta name="twitter:title"
          content="پیکوفلز | {% if category %}{{ category.name }}{% else %}نمونه کارها - گروه فلزکاری عبدی{% endif %}">

    <meta name="keywords"
          content="فلزکاری عبدی،پیکوفلز،گروه فلزکاری،آهن،درب و پنجره آهنی،فرفورژه،جوشکاری،آهنگری،شاسی کشی نمای ساختمان">

    <meta name="name" content="پیکوفلز | نمونه کارها - گروه فلزکاری عبدی">
    <meta name="description" content="نمونه کارهای گروه فلزکاری عبدی">
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="portfolio-page">
            <!-- breadcrumb start -->
            <section class="page-title-box container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 px-0">
                                    <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                    <p>گروه فلزکاری عبدی</p>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'core:home' %}">خانه</a>
                                            </li>
                                            {% if category %}
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'core:work-sample-list' %}">نمونه کارها</a>
                                                </li>
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    {{ category.name }}
                                                </li>
                                            {% else %}
                                                <li class="breadcrumb-item active" aria-current="page">
                                                    نمونه کارها
                                                </li>
                                            {% endif %}
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content">
                            <div class="row">
                                <a href="tel:09199060659"
                                   class="btn btn-purple d-md-none rounded-0 py-2 w-100 position-fixed fixed-bottom">
                                    ثبت سفارش
                                </a>

                                <a href="{% url 'core:contact-us' %}"
                                   class="btn btn-purple d-none d-md-block py-2 rounded-0 w-100 position-fixed fixed-bottom">
                                    ثبت سفارش
                                </a>
                                {% if category and not category.parent %}
                                    <div class="col-12 mb-4" id="sub-cats-portfolios">
                                        <div class="row">
                                            {% for sub_cat in category.sub_cats.all %}
                                                <div class="col-12 col-md-3 mb-2">
                                                    <div class="rounded-card box-shadow d-flex justify-content-between align-items-center">
                                                        <p class="font-size-95 mb-0">
                                                            <a href="{% url 'core:work-sample-category-list' sub_cat.slug sub_cat.pk %}"
                                                               class="text-primary">
                                                                {{ sub_cat.name }}
                                                            </a>
                                                        </p>
                                                        <p class="font-size-85 mb-0">
                                                            <span>
                                                                <i class="fa fa-list text-success"></i>
                                                                {{ sub_cat.portfolios.count }} محصول
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-12 mb-3">
                                    <h4 class="title font-vazir-bold-fd">
                                        {% if category %}
                                            {{ category.name }}
                                        {% else %}
                                            نمونه کارها
                                        {% endif %}
                                    </h4>
                                </div>
                                {% if not category %}
                                    <div class="col-12 col-md-5 my-4">
                                        <form action="{% url 'core:work-sample-list' %}" method="get">
                                            <label for="search">جستجوی نمونه کار:</label>
                                            <div class="d-flex justify-content-around align-items-center mt-2">
                                                <input type="text" name="search" value="{{ request.GET.search }}"
                                                       placeholder="جستجو نمونه کار" class="form-control">
                                                <button type="submit" class="btn btn- btn-outline-success ms-1">
                                                    جستجو
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                                <div class="col-12"></div>

                                {% for worksample in page_obj %}
                                    <section class="col-lg-4 col-md-6 col-12 mb-3" id="portfolios-list">
                                        {% include 'metallurgy/components/portfolio_card_component.html' %}
                                    </section>
                                {% endfor %}

                                <div class="col-12 my-2">
                                    {% include 'core/components/paginate_component.html' %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </section>
    {% endwith %}
{% endblock %}