<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن قوطی ضخامت 1</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ردیف</th>
        <th> سایز قوطی (میلی متر)</th>
        <th> ضخامت (میلی متر)</th>
        <th> وزن (کیلوگرم/متر)</th>
    </tr>
    <tr>
        <td>1</td>
        <td> 20*20</td>
        <td> 1</td>
        <td> 0.62</td>
    </tr>
    <tr>
        <td>2</td>
        <td> 25*25</td>
        <td> 1</td>
        <td> 0.78</td>
    </tr>
    <tr>
        <td>3</td>
        <td> 30*30</td>
        <td> 1</td>
        <td> 0.96</td>
    </tr>
    <tr>
        <td>4</td>
        <td> 35*35</td>
        <td> 1</td>
        <td> 1.12</td>
    </tr>
    <tr>
        <td>5</td>
        <td> 40*40</td>
        <td> 1</td>
        <td> 1.25</td>
    </tr>
    </tbody>
</table>

<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن قوطی ضخامت 1.25</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ردیف</th>
        <th>سایز قوطی (میلی متر)</th>
        <th>ضخامت (میلی متر)</th>
        <th>وزن (کیلوگرم/متر)</th>
    </tr>
    <tr>
        <td>1</td>
        <td>20*20</td>
        <td>1.25</td>
        <td>0.75</td>
    </tr>
    <tr>
        <td>2</td>
        <td>25*25</td>
        <td>1.25</td>
        <td>0.98</td>
    </tr>
    <tr>
        <td>3</td>
        <td>30*30</td>
        <td>1.25</td>
        <td>1.19</td>
    </tr>
    <tr>
        <td>4</td>
        <td>35*35</td>
        <td>1.25</td>
        <td>1.39</td>
    </tr>
    <tr>
        <td>5</td>
        <td>40*40</td>
        <td>1.25</td>
        <td>1.55</td>
    </tr>
    </tbody>
</table>

<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن پروفیل ضخامت 2</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ردیف</th>
        <th> سایز قوطی (میلی متر)</th>
        <th> ضخامت (میلی متر)</th>
        <th> وزن (کیلوگرم/متر)</th>
    </tr>
    <tr>
        <td>1</td>
        <td> 20*20</td>
        <td> 2</td>
        <td> 1.26</td>
    </tr>
    <tr>
        <td>2</td>
        <td> 25*25</td>
        <td> 2</td>
        <td> 1.57</td>
    </tr>
    <tr>
        <td>3</td>
        <td> 30*30</td>
        <td> 2</td>
        <td> 1.89</td>
    </tr>
    <tr>
        <td>4</td>
        <td> 35*35</td>
        <td> 2</td>
        <td> 2.2</td>
    </tr>
    <tr>
        <td>5</td>
        <td> 40*40</td>
        <td> 2</td>
        <td> 2.52</td>
    </tr>
    <tr>
        <td>6</td>
        <td> 50*50</td>
        <td> 2</td>
        <td> 3.14</td>
    </tr>
    <tr>
        <td>7</td>
        <td> 60*60</td>
        <td> 2</td>
        <td> 3.77</td>
    </tr>
    <tr>
        <td>8</td>
        <td> 70*70</td>
        <td> 2</td>
        <td> 4.4</td>
    </tr>
    <tr>
        <td>9</td>
        <td> 80*80</td>
        <td> 2</td>
        <td> 5.03</td>
    </tr>
    <tr>
        <td>10</td>
        <td> 90*90</td>
        <td> 2</td>
        <td> 5.66</td>
    </tr>
    <tr>
        <td>11</td>
        <td> 100*100</td>
        <td> 2</td>
        <td> 6.3</td>
    </tr>
    </tbody>
</table>

<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن پروفیل ضخامت 2.5</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ردیف</th>
        <th>سایز قوطی (میلی متر)</th>
        <th>ضخامت (میلی متر)</th>
        <th>وزن (کیلوگرم/متر)</th>
    </tr>
    <tr>
        <td>1</td>
        <td>30*30</td>
        <td>2.5</td>
        <td>2.36</td>
    </tr>
    <tr>
        <td>2</td>
        <td>40*40</td>
        <td>2.5</td>
        <td>3.14</td>
    </tr>
    <tr>
        <td>3</td>
        <td>50*50</td>
        <td>2.5</td>
        <td>3.93</td>
    </tr>
    <tr>
        <td>4</td>
        <td>60*60</td>
        <td>2.5</td>
        <td>4.72</td>
    </tr>
    <tr>
        <td>5</td>
        <td>70*70</td>
        <td>2.5</td>
        <td>5.5</td>
    </tr>
    <tr>
        <td>6</td>
        <td>80*80</td>
        <td>2.5</td>
        <td>6.29</td>
    </tr>
    <tr>
        <td>7</td>
        <td>90*90</td>
        <td>2.5</td>
        <td>7.07</td>
    </tr>
    <tr>
        <td>8</td>
        <td>100*100</td>
        <td>2.5</td>
        <td>7.86</td>
    </tr>
    <tr>
        <td>9</td>
        <td>110*110</td>
        <td>2.5</td>
        <td>0.75</td>
    </tr>
    <tr>
        <td>10</td>
        <td>135*135</td>
        <td>2.5</td>
        <td>1048</td>
    </tr>
    <tr>
        <td>11</td>
        <td>140*140</td>
        <td>2.5</td>
        <td>11.02</td>
    </tr>
    </tbody>
</table>

<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن قوطی ضخامت 3</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <td>ردیف</td>
        <td> سایز قوطی (میلی متر)</td>
        <td> ضخامت (میلی متر)</td>
        <td> وزن (کیلوگرم/متر)</td>
    </tr>
    <tr>
        <td>1</td>
        <td>30*30</td>
        <td>3</td>
        <td>2.83</td>
    </tr>
    <tr>
        <td>2</td>
        <td>35*35</td>
        <td>3</td>
        <td>3.3</td>
    </tr>
    <tr>
        <td>3</td>
        <td>40*40</td>
        <td>3</td>
        <td>3.77</td>
    </tr>
    <tr>
        <td>4</td>
        <td>45*45</td>
        <td>3</td>
        <td>4.24</td>
    </tr>
    <tr>
        <td>5</td>
        <td>50*50</td>
        <td>3</td>
        <td>4.72</td>
    </tr>
    <tr>
        <td>6</td>
        <td>60*60</td>
        <td>3</td>
        <td>5.66</td>
    </tr>
    <tr>
        <td>7</td>
        <td>70*70</td>
        <td>3</td>
        <td>6.6</td>
    </tr>
    <tr>
        <td>8</td>
        <td>80*80</td>
        <td>3</td>
        <td>7.55</td>
    </tr>
    <tr>
        <td>9</td>
        <td>90*90</td>
        <td>3</td>
        <td>8.49</td>
    </tr>
    <tr>
        <td>10</td>
        <td>100*100</td>
        <td>3</td>
        <td>9.43</td>
    </tr>
    <tr>
        <td>11</td>
        <td>110*110</td>
        <td>3</td>
        <td>10.38</td>
    </tr>
    </tbody>
</table>

<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن قوطی ضخامت 4</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ردیف</th>
        <th> سایز قوطی (میلی متر)</th>
        <th> ضخامت (میلی متر)</th>
        <th> وزن (کیلوگرم/متر)</th>
    </tr>
    <tr>
        <td>1</td>
        <td>50*50</td>
        <td>4</td>
        <td>6.28</td>
    </tr>
    <tr>
        <td>2</td>
        <td>60*60</td>
        <td>4</td>
        <td>7.56</td>
    </tr>
    <tr>
        <td>3</td>
        <td>70*70</td>
        <td>4</td>
        <td>8.8</td>
    </tr>
    <tr>
        <td>4</td>
        <td>80*80</td>
        <td>4</td>
        <td>10.06</td>
    </tr>
    <tr>
        <td>5</td>
        <td>90*90</td>
        <td>4</td>
        <td>11.32</td>
    </tr>
    <tr>
        <td>6</td>
        <td>100*100</td>
        <td>4</td>
        <td>12.57</td>
    </tr>
    <tr>
        <td>7</td>
        <td>110*110</td>
        <td>4</td>
        <td>13.72</td>
    </tr>
    <tr>
        <td>8</td>
        <td>135*135</td>
        <td>4</td>
        <td>16.97</td>
    </tr>
    <tr>
        <td>9</td>
        <td>140*140</td>
        <td>4</td>
        <td>17.61</td>
    </tr>
    <tr>
        <td>10</td>
        <td>100*100</td>
        <td>4.5</td>
        <td>14.15</td>
    </tr>
    <tr>
        <td>11</td>
        <td>110*110</td>
        <td>4.5</td>
        <td>15.56</td>
    </tr>
    <tr>
        <td>12</td>
        <td>135*135</td>
        <td>4.5</td>
        <td>19.01</td>
    </tr>
    <tr>
        <td>13</td>
        <td>140*140</td>
        <td>4.5</td>
        <td>19.81</td>
    </tr>
    </tbody>
</table>

<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن قوطی ضخامت 5</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ردیف</th>
        <th> سایز قوطی (میلی متر)</th>
        <th> ضخامت (میلی متر)</th>
        <th> وزن (کیلوگرم/متر)</th>
    </tr>
    <tr>
        <td>1</td>
        <td>100*100</td>
        <td>5</td>
        <td>15.72</td>
    </tr>
    <tr>
        <td>2</td>
        <td>110*110</td>
        <td>5</td>
        <td>17.29</td>
    </tr>
    <tr>
        <td>3</td>
        <td>135*135</td>
        <td>5</td>
        <td>21.23</td>
    </tr>
    <tr>
        <td>4</td>
        <td>140*140</td>
        <td>5</td>
        <td>22.01</td>
    </tr>
    </tbody>
</table>

<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن قوطی ضخامت 6</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ردیف</th>
        <th> سایز قوطی (میلی متر)</th>
        <th> ضخامت (میلی متر)</th>
        <th> وزن (کیلوگرم/متر)</th>
    </tr>
    <tr>
        <td>1</td>
        <td>100*100</td>
        <td>6</td>
        <td>18.86</td>
    </tr>
    <tr>
        <td>2</td>
        <td>110*110</td>
        <td>6</td>
        <td>20.75</td>
    </tr>
    <tr>
        <td>3</td>
        <td>135*135</td>
        <td>6</td>
        <td>25.47</td>
    </tr>
    <tr>
        <td>4</td>
        <td>140*140</td>
        <td>6</td>
        <td>26.41</td>
    </tr>
    </tbody>
</table>

<p class="font-vazir-bold-fd h5 mt-5 mb-4">جدول وزن پروفیل مستطیلی</p>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>ردیف</th>
        <th>ضخامت (mm)</th>
        <th>سایز قوطی (mm)</th>
        <th>وزن (kg/m)</th>
    </tr>
    <tr>
        <td>۱</td>
        <td>۱</td>
        <td>۱۰×۲۰</td>
        <td>۰٫۴۷</td>
    </tr>
    <tr>
        <td>۲</td>
        <td>۱</td>
        <td>۱۰×۲۵</td>
        <td>۰٫۵۵</td>
    </tr>
    <tr>
        <td>۳</td>
        <td>۱</td>
        <td>۱۰×۳۰</td>
        <td>۰٫۷۱</td>
    </tr>
    <tr>
        <td>۴</td>
        <td>۱</td>
        <td>۲۰×۳۰</td>
        <td>۰٫۷۹</td>
    </tr>
    <tr>
        <td>۵</td>
        <td>۱</td>
        <td>۲۰×۴۰</td>
        <td>۰٫۹۴</td>
    </tr>
    <tr>
        <td>۶</td>
        <td>۱</td>
        <td>۳۰×۴۰</td>
        <td>۱٫۱</td>
    </tr>
    <tr>
        <td>۷</td>
        <td>۱٫۲۵</td>
        <td>۱۰×۲۰</td>
        <td>۰٫۶</td>
    </tr>
    <tr>
        <td>۸</td>
        <td>۱٫۲۵</td>
        <td>۱۰×۲۵</td>
        <td>۰٫۶۹</td>
    </tr>
    <tr>
        <td>۹</td>
        <td>۱٫۲۵</td>
        <td>۱۰×۳۰</td>
        <td>۰٫۷۹</td>
    </tr>
    <tr>
        <td>۱۰</td>
        <td>۱٫۲۵</td>
        <td>۲۰×۳۰</td>
        <td>۰٫۹۸</td>
    </tr>
    <tr>
        <td>۱۱</td>
        <td>۱٫۲۵</td>
        <td>۲۰×۴۰</td>
        <td>۱٫۱۸</td>
    </tr>
    <tr>
        <td>۱۲</td>
        <td>۱٫۲۵</td>
        <td>۳۰×۴۰</td>
        <td>۱٫۳۷</td>
    </tr>
    <tr>
        <td>۱۳</td>
        <td>۱٫۵</td>
        <td>۱۰×۲۰</td>
        <td>۰٫۷۱</td>
    </tr>
    <tr>
        <td>۱۴</td>
        <td>۱٫۵</td>
        <td>۱۰×۲۵</td>
        <td>۰٫۸۳</td>
    </tr>
    <tr>
        <td>۱۵</td>
        <td>۱٫۵</td>
        <td>۱۰×۳۰</td>
        <td>۰٫۹۴</td>
    </tr>
    <tr>
        <td>۱۶</td>
        <td>۱٫۵</td>
        <td>۲۰×۳۰</td>
        <td>۱٫۱۸</td>
    </tr>
    <tr>
        <td>۱۷</td>
        <td>۱٫۵</td>
        <td>۲۰×۴۰</td>
        <td>۱٫۴۱</td>
    </tr>
    <tr>
        <td>۱۸</td>
        <td>۱٫۵</td>
        <td>۳۰×۴۰</td>
        <td>۱٫۶۵</td>
    </tr>
    <tr>
        <td>۱۹</td>
        <td>۱٫۵</td>
        <td>۵۰×۴۰</td>
        <td>۲٫۱۲</td>
    </tr>
    <tr>
        <td>۲۰</td>
        <td>۱٫۵</td>
        <td>۲۵×۵۰</td>
        <td>۱٫۷۷</td>
    </tr>
    <tr>
        <td>۲۱</td>
        <td>۱٫۵</td>
        <td>۳۰×۵۰</td>
        <td>۱٫۸۹</td>
    </tr>
    <tr>
        <td>۲۲</td>
        <td>۱٫۵</td>
        <td>۲۰×۶۰</td>
        <td>۱٫۸۹</td>
    </tr>
    <tr>
        <td>۲۳</td>
        <td>۱٫۵</td>
        <td>۳۰×۶۰</td>
        <td>۲٫۱۲</td>
    </tr>
    <tr>
        <td>۲۴</td>
        <td>۱٫۵</td>
        <td>۴۰×۶۰</td>
        <td>۲٫۳۶</td>
    </tr>
    <tr>
        <td>۲۵</td>
        <td>۱٫۵</td>
        <td>۵۰×۶۰</td>
        <td>۲٫۵۹</td>
    </tr>
    <tr>
        <td>۲۶</td>
        <td>۱٫۵</td>
        <td>۴۰×۸۰</td>
        <td>۲٫۸۳</td>
    </tr>
    <tr>
        <td>۲۷</td>
        <td>۲</td>
        <td>۱۰×۲۰</td>
        <td>۰٫۹۴</td>
    </tr>
    <tr>
        <td>۲۸</td>
        <td>۲</td>
        <td>۱۰×۲۵</td>
        <td>۱٫۰۰۱</td>
    </tr>
    <tr>
        <td>۲۹</td>
        <td>۲</td>
        <td>۱۰×۳۰</td>
        <td>۱٫۲۶</td>
    </tr>
    <tr>
        <td>۳۰</td>
        <td>۲</td>
        <td>۲۰×۳۰</td>
        <td>۱٫۵۷</td>
    </tr>
    <tr>
        <td>۳۱</td>
        <td>۲</td>
        <td>۲۰×۴۰</td>
        <td>۱٫۸۹</td>
    </tr>
    <tr>
        <td>۳۲</td>
        <td>۲</td>
        <td>۳۰×۴۰</td>
        <td>۲٫۲</td>
    </tr>
    <tr>
        <td>۳۳</td>
        <td>۲</td>
        <td>۵۰×۴۰</td>
        <td>۲٫۸۳</td>
    </tr>
    <tr>
        <td>۳۴</td>
        <td>۲</td>
        <td>۲۵×۵۰</td>
        <td>۲٫۳۶</td>
    </tr>
    <tr>
        <td>۳۵</td>
        <td>۲</td>
        <td>۳۰×۵۰</td>
        <td>۲٫۵۲</td>
    </tr>
    <tr>
        <td>۳۶</td>
        <td>۲</td>
        <td>۲۰×۶۰</td>
        <td>۲٫۵۱</td>
    </tr>
    <tr>
        <td>۳۷</td>
        <td>۲</td>
        <td>۳۰×۶۰</td>
        <td>۲٫۱۴</td>
    </tr>
    <tr>
        <td>۳۸</td>
        <td>۲</td>
        <td>۴۰×۶۰</td>
        <td>۳٫۱۴</td>
    </tr>
    <tr>
        <td>۳۹</td>
        <td>۲</td>
        <td>۵۰×۶۰</td>
        <td>۳٫۴۶</td>
    </tr>
    <tr>
        <td>۴۰</td>
        <td>۲</td>
        <td>۴۰×۸۰</td>
        <td>۳٫۷۷</td>
    </tr>
    <tr>
        <td>۴۱</td>
        <td>۲</td>
        <td>۶۰×۸۰</td>
        <td>۴٫۴</td>
    </tr>
    <tr>
        <td>۴۲</td>
        <td>۲</td>
        <td>۴۰×۱۰۰</td>
        <td>۴٫۴</td>
    </tr>
    <tr>
        <td>۴۳</td>
        <td>۲</td>
        <td>۵۰×۱۰۰</td>
        <td>۴٫۷۲</td>
    </tr>
    <tr>
        <td>۴۴</td>
        <td>۲</td>
        <td>۶۰×۱۲۰</td>
        <td>۵٫۶۶</td>
    </tr>
    <tr>
        <td>۴۵</td>
        <td>۲٫۵</td>
        <td>۲۰×۳۰</td>
        <td>۱٫۹۶</td>
    </tr>
    <tr>
        <td>۴۶</td>
        <td>۲٫۵</td>
        <td>۲۰×۴۰</td>
        <td>۲٫۳۶</td>
    </tr>
    <tr>
        <td>۴۷</td>
        <td>۲٫۵</td>
        <td>۳۰×۴۰</td>
        <td>۲٫۷۵</td>
    </tr>
    <tr>
        <td>۴۸</td>
        <td>۲٫۵</td>
        <td>۵۰×۴۰</td>
        <td>۳٫۵۴</td>
    </tr>
    <tr>
        <td>۴۹</td>
        <td>۲٫۵</td>
        <td>۲۵×۵۰</td>
        <td>۲٫۹۵</td>
    </tr>
    <tr>
        <td>۵۰</td>
        <td>۲٫۵</td>
        <td>۳۰×۵۰</td>
        <td>۳٫۱۴</td>
    </tr>
    <tr>
        <td>۵۱</td>
        <td>۲٫۵</td>
        <td>۲۰×۶۰</td>
        <td>۳٫۱۴</td>
    </tr>
    <tr>
        <td>۵۲</td>
        <td>۲٫۵</td>
        <td>۳۰×۶۰</td>
        <td>۳٫۵۴</td>
    </tr>
    <tr>
        <td>۵۳</td>
        <td>۲٫۵</td>
        <td>۴۰×۶۰</td>
        <td>۳٫۹۳</td>
    </tr>
    <tr>
        <td>۵۴</td>
        <td>۲٫۵</td>
        <td>۵۰×۶۰</td>
        <td>۴٫۳۲</td>
    </tr>
    <tr>
        <td>۵۵</td>
        <td>۲٫۵</td>
        <td>۴۰×۸۰</td>
        <td>۴٫۷۲</td>
    </tr>
    <tr>
        <td>۵۶</td>
        <td>۲٫۵</td>
        <td>۶۰×۸۰</td>
        <td>۵٫۵</td>
    </tr>
    <tr>
        <td>۵۷</td>
        <td>۲٫۵</td>
        <td>۴۰×۱۰۰</td>
        <td>۵٫۵</td>
    </tr>
    <tr>
        <td>۵۸</td>
        <td>۲٫۵</td>
        <td>۵۰×۱۰۰</td>
        <td>۵٫۸۹</td>
    </tr>
    <tr>
        <td>۵۹</td>
        <td>۲٫۵</td>
        <td>۶۰×۱۲۰</td>
        <td>۷٫۰۷</td>
    </tr>
    <tr>
        <td>۶۰</td>
        <td>۲٫۵</td>
        <td>۶۰×۲۲۰</td>
        <td>۱۱٫۰۰۴</td>
    </tr>
    <tr>
        <td>۶۱</td>
        <td>۳</td>
        <td>۲۰×۴۰</td>
        <td>۲٫۸۳</td>
    </tr>
    <tr>
        <td>۶۲</td>
        <td>۳</td>
        <td>۳۰×۴۰</td>
        <td>۳٫۳</td>
    </tr>
    <tr>
        <td>۶۳</td>
        <td>۳</td>
        <td>۵۰×۴۰</td>
        <td>۴٫۲۴</td>
    </tr>
    <tr>
        <td>۶۴</td>
        <td>۳</td>
        <td>۲۵×۵۰</td>
        <td>۳٫۵۴</td>
    </tr>
    <tr>
        <td>۶۵</td>
        <td>۳</td>
        <td>۳۰×۵۰</td>
        <td>۳٫۷۷</td>
    </tr>
    <tr>
        <td>۶۶</td>
        <td>۳</td>
        <td>۲۰×۶۰</td>
        <td>۳٫۷۷</td>
    </tr>
    <tr>
        <td>۶۷</td>
        <td>۳</td>
        <td>۳۰×۶۰</td>
        <td>۴٫۲۴</td>
    </tr>
    <tr>
        <td>۶۸</td>
        <td>۳</td>
        <td>۴۰×۶۰</td>
        <td>۴٫۷۲</td>
    </tr>
    <tr>
        <td>۶۹</td>
        <td>۳</td>
        <td>۵۰×۶۰</td>
        <td>۵٫۱۹</td>
    </tr>
    <tr>
        <td>۷۰</td>
        <td>۳</td>
        <td>۴۰×۸۰</td>
        <td>۵٫۶۶</td>
    </tr>
    <tr>
        <td>۷۱</td>
        <td>۳</td>
        <td>۶۰×۸۰</td>
        <td>۶٫۶</td>
    </tr>
    <tr>
        <td>۷۲</td>
        <td>۳</td>
        <td>۴۰×۱۰۰</td>
        <td>۶٫۶</td>
    </tr>
    <tr>
        <td>۷۳</td>
        <td>۳</td>
        <td>۵۰×۱۰۰</td>
        <td>۷٫۰۷</td>
    </tr>
    <tr>
        <td>۷۴</td>
        <td>۳</td>
        <td>۶۰×۱۲۰</td>
        <td>۸٫۴۵</td>
    </tr>
    <tr>
        <td>۷۵</td>
        <td>۳</td>
        <td>۶۰×۲۲۰</td>
        <td>۱۳٫۲۲</td>
    </tr>
    <tr>
        <td>۷۶</td>
        <td>۳٫۵</td>
        <td>۵۰×۴۰</td>
        <td>۴٫۹۵</td>
    </tr>
    <tr>
        <td>۷۷</td>
        <td>۳٫۵</td>
        <td>۳۰×۶۰</td>
        <td>۴٫۹۵</td>
    </tr>
    <tr>
        <td>۷۸</td>
        <td>۳٫۵</td>
        <td>۴۰×۶۰</td>
        <td>۵٫۵</td>
    </tr>
    <tr>
        <td>۷۹</td>
        <td>۳٫۵</td>
        <td>۵۰×۶۰</td>
        <td>۶٫۰۵</td>
    </tr>
    <tr>
        <td>۸۰</td>
        <td>۳٫۵</td>
        <td>۴۰×۸۰</td>
        <td>۶٫۶</td>
    </tr>
    <tr>
        <td>۸۱</td>
        <td>۳٫۵</td>
        <td>۶۰×۸۰</td>
        <td>۷٫۷</td>
    </tr>
    <tr>
        <td>۸۲</td>
        <td>۳٫۵</td>
        <td>۴۰×۱۰۰</td>
        <td>۷٫۷</td>
    </tr>
    <tr>
        <td>۸۳</td>
        <td>۳٫۵</td>
        <td>۵۰×۱۰۰</td>
        <td>۸٫۲۵</td>
    </tr>
    <tr>
        <td>۸۴</td>
        <td>۳٫۵</td>
        <td>۶۰×۱۲۰</td>
        <td>۹٫۹۱</td>
    </tr>
    <tr>
        <td>۸۵</td>
        <td>۳٫۵</td>
        <td>۶۰×۲۲۰</td>
        <td>۱۵٫۴۱</td>
    </tr>
    <tr>
        <td>۸۶</td>
        <td>۴</td>
        <td>۴۰×۶۰</td>
        <td>۶٫۲۳</td>
    </tr>
    <tr>
        <td>۸۷</td>
        <td>۴</td>
        <td>۵۰×۶۰</td>
        <td>۶٫۹۲</td>
    </tr>
    <tr>
        <td>۸۸</td>
        <td>۴</td>
        <td>۴۰×۸۰</td>
        <td>۷٫۵۴</td>
    </tr>
    <tr>
        <td>۸۹</td>
        <td>۴</td>
        <td>۶۰×۸۰</td>
        <td>۸٫۸</td>
    </tr>
    <tr>
        <td>۹۰</td>
        <td>۴</td>
        <td>۴۰×۱۰۰</td>
        <td>۸٫۸</td>
    </tr>
    <tr>
        <td>۹۱</td>
        <td>۴</td>
        <td>۵۰×۱۰۰</td>
        <td>۹٫۴۳</td>
    </tr>
    <tr>
        <td>۹۲</td>
        <td>۴</td>
        <td>۶۰×۱۲۰</td>
        <td>۱۱٫۳۲</td>
    </tr>
    <tr>
        <td>۹۳</td>
        <td>۴</td>
        <td>۶۰×۲۲۰</td>
        <td>۱۷٫۶۱</td>
    </tr>
    <tr>
        <td>۹۴</td>
        <td>۴٫۵</td>
        <td>۶۰×۲۲۰</td>
        <td>۱۹٫۸۱</td>
    </tr>
    <tr>
        <td>۹۵</td>
        <td>۵</td>
        <td>۶۰×۲۲۰</td>
        <td>۲۲</td>
    </tr>
    <tr>
        <td>۹۶</td>
        <td>۶</td>
        <td>۶۰×۲۲۰</td>
        <td>۲۶٫۴۱</td>
    </tr>
    </tbody>
</table>