{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}پیکوفلز | مجله پیکوفلز{% endblock %}


{% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://picofelez.ir/blog/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | مجله پیکوفلز">
    <meta property="og:description" content="مجله پیکوفلز">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="picofelez.ir">
    <meta property="twitter:url" content="https://picofelez.ir/blog/">
    <meta name="twitter:title" content="پیکوفلز | مجله پیکوفلز">
    <meta name="twitter:description" content="مجله پیکوفلز">

    <meta name="keywords" content="نما،اسکلت،تیرآهن،جوشکاری،فلزکاری،عبدی،پیکوفلز،گروه فلزکاری،مهندسی،صنعت">
    <meta name="description" content="مجله پیکوفلز">

{% endblock %}


{% block content %}
    <section class="inner-page" id="blog-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>گروه فلزکاری عبدی</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            مجله پیکوفلز
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">

                            <div class="col-12 col-sm-12 py-2 px-3 mt-1 mb-3 border rounded-1 bg-light">
                                <form method="get">
                                    <div class="row">
                                        <div class="col-12 col-md-3 mb-2">
                                            <label for="{{ filter.form.search.id_for_label }}">جستجو مقالات:</label>
                                            {{ filter.form.search|add_class:'form-control' }}
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-purple">جستجو</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">

                                    {% for article in page_obj %}
                                        {% include 'blog/components/article_card_component.html' %}
                                    {% empty %}
                                        <div class="alert alert-secondary">
                                            مقاله ای یافت نشد.
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}