{% extends 'core/base/_base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{{ object }} | پیکوفلز{% endblock %}

{% block meta_tags %}
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://picofelez.ir/blog/{{ object.pk }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | {{ object.title }}">
    <meta property="og:description"
          content="{{ object.summary }}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="picofelez.ir">
    <meta property="twitter:url" content="https://picofelez.ir/blog/{{ object.pk }}">
    <meta name="twitter:title" content="پیکوفلز | {{ object.title }}">
    <meta name="twitter:description"
          content="{{ object.summary }}">

    <meta name="keywords"
          content="{{ object.title }}">

    <meta name="description" content="{{ object.summary }}">
    <meta name="title" content="{{ object }} | پیکوفلز">
{% endblock %}

{% block content %}
    <section class="inner-page" id="article-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>گروه فلزکاری عبدی</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'blog:blog-list' %}">مجله پیکوفلز</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            {{ object.title }}
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-12 col-lg-9">
                                            <div class="row">
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="col-12">
                                                            <div class="alert alert-success">
                                                                {{ message }}
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                {% endif %}
                                                <div class="col-12">
                                                    <div class="blog-container">
                                                        <div class="row pt-2 px-3" id="post-title">
                                                            <div class="col-12 col-md-8">
                                                                <h1>{{ article.title }}</h1>
                                                            </div>
                                                            <div class="col-12 col-md-4 text-start text-md-end">
                                                                <span class="date">منتشر شده در
                                                                {{ object.published_jalali_dict.day }}
                                                                {{ object.published_jalali_dict.month }}
                                                                {{ object.published_jalali_dict.year }}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <hr/>
{#                                                        <div class="row py-0 px-3" id="post-details">#}
{#                                                            <div class="col-4">#}
{#                                                                <span>244 بازدید | 3 نظر</span>#}
{#                                                            </div>#}
{#                                                        </div>#}
                                                        <div class="row">
                                                            <div class="col-12 pt-2 text-justify" id="post-html">
                                                                <div class="text-center pt-2 pb-3">
                                                                    <img
                                                                            src="{{ object.image.url }}"
                                                                            alt="{{ object.title }}"
                                                                            class="img-fluid"
                                                                    />
                                                                </div>
                                                                <p class="text-secondary">
                                                                    {{ object.summary }}
                                                                </p>
                                                                <p>
                                                                    {{ object.description|safe }}
                                                                </p>
                                                            </div>
                                                            <div class="col-12">
                                                                <hr/>
                                                                <div id="keywords">
                                                                    <span>برچسب ها:</span>

                                                                    {% for tag in object.tags.all %}
                                                                        <a href="{% url 'blog:blog-list' %}?tags={{ tag.id }}">
                                                                            <span class="keyword">{{ tag.name }}</span>
                                                                        </a>
                                                                    {% endfor %}

                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row pt-3 pb-4 pb-lg-0">
                                                            <div class="col-12" id="share-links">
                                                                <span>به اشتراک بگذارید در:</span>
                                                                <br class="d-md-none"/>
                                                                <a href="#" target="_blank">
                                                                    <i class="fab fa-twitter mx-2"></i>
                                                                </a>
                                                                <a href="#" target="_blank">
                                                                    <i class="fab fa-facebook mx-2"></i>
                                                                </a>
                                                                <a href="#" target="_blank">
                                                                    <i class="fab fa-whatsapp mx-2"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <hr/>
                                                        <div class="col-12 my-2">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <h5 class="title font-vazir-bold-fd">نظرات
                                                                        محصول</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if request.user.is_authenticated %}
                                                            <div class="col-12 mb-3">
                                                                <div class="rounded-card" id="comment-section">
                                                                    <form method="post">
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-12 mb-2">
                                                                                <label for="{{ form.comment.id_for_label }}"
                                                                                       class="font-vazir-bold-fd">متن
                                                                                    نظر:</label>
                                                                                {{ form.comment|add_class:"form-control"|attr:"rows:4" }}
                                                                            </div>
                                                                            {% if form.non_fields_errors or form.comment.errors or form.rating.errors %}
                                                                                <div class="col-12 mb-2">
                                                                                    {{ form.non_fields_errors }}
                                                                                    {{ form.comment.errors }}
                                                                                </div>
                                                                            {% endif %}

                                                                            <div class="col-md-12 mb-2">
                                                                                <button class="btn btn-outline-success">
                                                                                    ارسال نظر
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-12 mb-3">
                                                                <div class="alert alert-danger">
                                                                    برای نظر دادن ابتدا
                                                                    <a href="{% url 'account:otp-login' %}?next={% url 'blog:blog-detail' object.pk object.get_replaced_title %}"
                                                                       class="text-primary">وارد حساب خود
                                                                        شوید.</a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <div class="row">
                                                <!-- Side Panel -->
                                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                                    <div class="blog-side-panel">
                                                        <div class="row pt-2">
                                                            <div class="col">
                                                                <h6 class="title font-vazir-bold-fd">آخرین
                                                                    محصولات</h6>
                                                            </div>
                                                        </div>
                                                        <div class="container">
                                                            <div class="row">
                                                                <!-- Side Panel Product -->
                                                                {% for product in latest_multiple_products %}
                                                                    <div class="col-12 col-lg-12 px-0 mt-2">
                                                                        <a target="_blank"
                                                                           href="{% url 'product:multiple-product-detail' product.id product.get_replaced_title %}">
                                                                            <div class="side-blog-product">
                                                                                <div class="row pl-3">
                                                                                    <div class="col-4 pl-2">
                                                                                        <div
                                                                                                class="image"
                                                                                                style="
                                                                                                        background-image: url(
                                                                                                        {% if product.image %}{{ product.image.url }}{% else %}{% static 'site_statics/img/bg/no-image.png' %}
                                                                                                        {% endif %} );
                                                                                                        "
                                                                                        ></div>
                                                                                    </div>
                                                                                    <div class="col-8 px-0">
                                                                                        <h2>
                                                                                            {{ product.title }}
                                                                                        </h2>
                                                                                        <div class="row">
                                                                                            <div class="col-8 pl-0">
                                                                                                <span class="side-blog-product-price">
                                                                                                    {{ product.shops.count }} فروشنده
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                {% endfor %}

                                                                <!-- /Side Panel Product -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="mt-4">
                                                <div class="col-12 col-sm-6 col-lg-12 px-lg-2">
                                                    <div class="blog-side-panel">
                                                        <div class="row pt-4 pt-sm-2">
                                                            <div class="col">
                                                                <h6 class="title font-vazir-bold-fd">نوشته های
                                                                    مرتبط</h6>
                                                            </div>
                                                        </div>
                                                        <div class="container">
                                                            <div class="row">

                                                                {% for article in latest_articles %}
                                                                    <div class="col-12 col-lg-12 px-0 mt-2">
                                                                        <div class="side-blog-post">
                                                                            <div class="row pl-3">
                                                                                <div class="col-4 pl-2">
                                                                                    <a href="{% url 'blog:blog-detail' article.id article.get_replaced_title %}"
                                                                                    >
                                                                                        <div
                                                                                                class="image"
                                                                                                style="
                                                                                                        background-image: url({{ article.image.url }});
                                                                                                        "
                                                                                        ></div
                                                                                        >
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-8 px-0">
                                                                                    <a href="{% url 'blog:blog-detail' article.id article.get_replaced_title %}"
                                                                                    ><h2>
                                                                                        {{ article.title }}
                                                                                    </h2></a>
                                                                                    <div class="row">
                                                                                        <div class="col-12 col-xl-7 pl-0">
                                              <span class="category"
                                              >دسته بندی:
                                                <a href="{% url 'blog:blog-list' %}?tags={{ article.tags.first.id }}"
                                                >
                                                    {{ article.tags.first.name }}
                                                </a
                                                ></span
                                              >
                                                                                        </div>
                                                                                        <div
                                                                                                class="col-12 col-xl-5 pr-0 text-start text-xl-end d-none d-xl-block"
                                                                                        >
                                              <span class="date"
                                              >
                                                  {{ object.published_jalali_dict.day }}
                                                                {{ object.published_jalali_dict.month }}
                                                                {{ object.published_jalali_dict.year }}
                                              </span
                                              >
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /Side Panel -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}