{% extends 'core/base/_base.html' %}
{% load static %}
{% block title %}
    پیکو فلز | با ما آشنا شوید
{% endblock %}

{% block content %}
    <section class="inner-page" id="about-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>بازار آنلاین آهن</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            درباره ما
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-12 rounded-card">
                                <h3 class="font-vazir-bold-fd mb-3">
                                    به پیکوفلز خوش آمدید!
                                </h3>
                                <p>
                                    پلتفرم تخصصی آهن ، شبکه یکپارچه گروه فلزکاری برادران عبدی - پیکوفلز.
                                </p>
                                <hr/>
                                <section
                                        class="purchas-steps py-3"
                                        style="background-color: transparent; border: none"
                                >
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h6 class="title font-vazir-bold-fd">چگونه از بخش ارتباط با مشتریان گروه
                                                فلزکاری عبدی استفاده کنیم؟</h6>
                                        </div>
                                        <p>
                                            برای ارتباط با گروه فلزکاری عبدی
                                            <a class="text-primary" href="{% url 'metallurgy:landing' %}">اینجا کلیک
                                                کنید</a>
                                            .
                                        </p>
                                    </div>
                                </section>
                                <hr>

                                <section
                                        class="purchas-steps py-3"
                                        style="background-color: transparent; border: none"
                                >
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h6 class="title font-vazir-bold-fd">چطور فروشگاه خود را ایجاد کنیم؟</h6>
                                        </div>
                                        <p>
                                            درصورتی که میخواهید فروشگاه آهن خود را ایجاد کنید روی
                                            <a href="{% url 'shop:register-shop' %}" class="text-primary">این لینک کلیک
                                                کنید</a>
                                            و طبق مراحل پیش بروید.
                                        </p>
                                    </div>
                                </section>
                                <hr>

                                <section
                                        class="purchas-steps py-3"
                                        style="background-color: transparent; border: none"
                                >
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h6 class="title font-vazir-bold-fd">برای خرید چه مراحلی را دنبال کنیم؟</h6>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-2">
                                            <div
                                                    class="purchas-step-item d-flex justify-content-between align-items-center"
                                            >
                                                <div class="purchas-step-icon">
                                                    <i class="fas fa-globe"></i>
                                                </div>
                                                <div class="purchas-step-content">
                                                    <p class="fw-semibold p-0 m-0 mb-1">انتخاب محصول</p>
                                                    <p class="text-gray">
                                                        <a href="{% url 'product:product-list' %}" class="text-primary">محصولات</a> و <a
                                                            href="{% url 'shop:shop-list' %}" class="text-primary">فروشگاه ها</a>
                                                        را مقایسه کنید و طبق نیازتان آنهارا به سبد
                                                        خرید خود اضافه کنید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-2">
                                            <div
                                                    class="purchas-step-item d-flex justify-content-between align-items-center"
                                            >
                                                <div class="purchas-step-icon">
                                                    <i class="fas fa-cart-shopping"></i>
                                                </div>
                                                <div class="purchas-step-content">
                                                    <p class="fw-semibold p-0 m-0 mb-1">تکمیل سبد خرید</p>
                                                    <p class="text-gray">
                                                        پس از افزودن محصولات مورد نیاز خود به سبد خرید روی "ادامه ثبت
                                                        سفارش" در سبد خرید کلیک
                                                        کنید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-2">
                                            <div
                                                    class="purchas-step-item d-flex justify-content-between align-items-center"
                                            >
                                                <div class="purchas-step-icon">
                                                    <i class="fas fa-shop"></i>
                                                </div>
                                                <div class="purchas-step-content">
                                                    <p class="fw-semibold p-0 m-0 mb-1">انتخاب آدرس</p>
                                                    <p class="text-gray">
                                                        بعد از تکمیل سبد خرید و ادامه سفارش آدرس خود را ایجاد و یا
                                                        انتخاب کنید و برای تائید
                                                        ارسال کنید.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-3 mb-2">
                                            <div
                                                    class="purchas-step-item d-flex justify-content-between align-items-center"
                                            >
                                                <div class="purchas-step-icon">
                                                    <i class="fas fa-truck"></i>
                                                </div>
                                                <div class="purchas-step-content">
                                                    <p class="fw-semibold p-0 m-0 mb-1">مرحله آخر</p>
                                                    <p class="text-gray">
                                                        سفارش شما به دست فروشنده ها میرسد و بعد از تعیین هزینه باربری از
                                                        طریق پیامک به شما
                                                        اطلاع داده خواهد شد.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}