{% extends 'core/base/_base.html' %}
{% load static %}
{% block title %}پیکوفلز | درباره ما{% endblock %}

{% block meta_tags %}
    <meta property="og:url" content="https://picofelez.ir/about-us/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | ارتباط با ما">
    <meta name="og:description" content="گروه فلزکاری عبدی - پیکوفلز، تولید کننده انواع محصولات فلزی">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:url" content="https://picofelez.ir/about-us/">
    <meta name="twitter:title" content="پیکوفلز | ارتباط با ما">
    <meta name="twitter:description" content="گروه فلزکاری عبدی - پیکوفلز، تولید کننده انواع محصولات فلزی">

    <meta name="keywords"
          content="فلزکاری عبدی،پیکوفلز،گروه فلزکاری،آهن،درب و پنجره آهنی،فرفورژه،جوشکاری،آهنگری،شاسی کشی نمای ساختمان">

    <meta name="title" content="پیکوفلز | ارتباط با ما"/>
    <meta name="description" content="گروه فلزکاری عبدی - پیکوفلز، تولید کننده انواع محصولات فلزی">
{% endblock %}

{% block content %}
    <section class="inner-page" id="about-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>گروه فلزکاری عبدی</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            درباره ما
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-12 rounded-card">
                                <h3 class="font-vazir-bold-fd mb-3">
                                    به پیکوفلز خوش آمدید!
                                </h3>
                                <p>
                                    پلتفرم تخصصی گروه فلزکاری عبدی
                                </p>
                                <hr/>
                                <section
                                        class="purchas-steps py-3"
                                        style="background-color: transparent; border: none"
                                >
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h6 class="title font-vazir-bold-fd">درباره گروه فلزکاری عبدی</h6>
                                        </div>
                                        <p>
                                            گروه فلزکاری عبدی - پیکوفلز،
                                            با بیش از 30 سال سابقه در طراحی و تولید انواع درب و پنجره و حفاظ آهنی،
                                            تانکر، لانچر، شاسی دستگاه های صنعتی، شاسی کشی نما، فرفورژه، اسکلت فلزی سبک،
                                            تیرچه کرومیت، اسکلت تیرچه های پاشنه بتنی، وال پست و ...
                                        </p>
                                    </div>
                                </section>
                                <hr>

                                <section
                                        class="purchas-steps py-3"
                                        style="background-color: transparent; border: none"
                                >
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h6 class="title font-vazir-bold-fd">پنل ارتباط با مشتریان</h6>
                                        </div>
                                        <p>
                                            در
                                            <a class="link-primary" href="{% url 'metallurgy:customer-project-list' %}">پنل
                                                ارتباط با
                                                مشتریان</a>
                                            مشتریان ما به صورت آنلاین و در هرکجا میتوانند فرایند کامل پروژه خود را
                                            مشاهده و پیگیری کنند.
                                        </p>
                                    </div>
                                </section>
                                <hr>

                                <section
                                        class="purchas-steps py-3"
                                        style="background-color: transparent; border: none"
                                >
                                    <div class="row">
                                        <div class="col-12 mb-4">
                                            <h6 class="title font-vazir-bold-fd">همکاری با ما</h6>

                                            <p>برای همکاری با ما، با شماره <a href="tel:09199060659"
                                                                              class="link-primary">09199060659</a>
                                                تماس بگیرید و یا از صفحه
                                                <a href="{% url 'core:contact-us' %}" class="link-primary">ارتباط با
                                                    ما</a>
                                                استفاده کنید.
                                            </p>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}