{% extends 'core/base/_base.html' %}
{% load static %}
{% block title %}پیکوفلز | محاسبه وزن آهن{% endblock %}

{% block meta_tags %}
    <meta property="og:url" content="https://picofelez.ir/calculator/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | محاسبه وزن آهن">
    <meta name="og:description" content="جدول و راهنمای محاسبه وزن آهن آلات">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:url" content="https://picofelez.ir/calculator/">
    <meta name="twitter:title" content="پیکوفلز | محاسبه وزن آهن">
    <meta name="twitter:description" content="جدول و راهنمای محاسبه وزن آهن آلات">

    <meta name="keywords"
          content="وزن آهن آلات،قیمت آهن،محاسبه وزن آهن،وزن مقاطع فولادی،جدول وزن آهن،ماشین حساب وزن آهن">

    <meta name="title" content="پیکوفلز | محاسبه وزن آهن"/>
    <meta name="description" content="جدول و راهنمای محاسبه وزن آهن آلات">
{% endblock %}

{% block content %}
    <section class="inner-page" id="calculator-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>گروه فلزکاری عبدی</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            محاسبه وزن آهن
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="font-vazir-bold-fd title mb-3 h4">
                                    محاسبه وزن آهن
                                </h1>
                                <div class="my-4">
                                    <label for="" class="font-vazir-bold-fd">نوع محاسبه را انتخاب کنید</label>
                                    <select id="formula_mode" class="form-control p-3">
                                        <option value="profile" selected>پروفیل</option>
                                        <option value="foil">ورق</option>
                                        <option value="rebar">میلگرد</option>
                                    </select>
                                </div>
                                <form class="rounded-card box-shadow" id="profile_calculator" style="font-size: 0.9rem">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <p class="h6 font-vazir-bold-fd mt-2 mb-4">محاسبه وزن پروفیل : </p>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="profile_area">ابعاد</label>
                                            <select class="form-control" id="profile_area"
                                                    name="profile_area">
                                                <option value="20" selected>10 * 10</option>
                                                <option value="30">10 * 20</option>
                                                <option value="40">20 * 20</option>
                                                <option value="50">25 * 25</option>
                                                <option value="40">30 * 10</option>
                                                <option value="50">30 * 20</option>
                                                <option value="70">35 * 35</option>
                                                <option value="70">35 * 35</option>
                                                <option value="60">40 * 20</option>
                                                <option value="70">40 * 30</option>
                                                <option value="80">40 * 40</option>
                                                <option value="100">50 * 50</option>
                                                <option value="80">50 * 30</option>
                                                <option value="90">50 * 40</option>
                                                <option value="80">60 * 20</option>
                                                <option value="90">60 * 30</option>
                                                <option value="100">60 * 40</option>
                                                <option value="120">60 * 60</option>
                                                <option value="140">70 * 70</option>
                                                <option value="160">80 * 80</option>
                                                <option value="120">80 * 40</option>
                                                <option value="140">80 * 60</option>
                                                <option value="180">90 * 90</option>
                                                <option value="140">100 * 40</option>
                                                <option value="200">100 * 100</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85" for="profile_length">طول
                                                شاخه</label>
                                            <select class="form-control" id="profile_length"
                                                    name="profile_length">
                                                <option value="6" selected>شاخه 6 متری</option>
                                                <option value="12">شاخه 12 متری</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="profile_width">ضخامت</label>
                                            <select class="form-control" id="profile_width"
                                                    name="profile_width">
                                                <option value="0.5" selected>0.5 mm</option>
                                                <option value="0.75">0.75 mm</option>
                                                <option value="1">1 mm</option>
                                                <option value="1.25">1.25 mm</option>
                                                <option value="1.5">1.5 mm</option>
                                                <option value="2">2 mm</option>
                                                <option value="2.5">2.5 mm</option>
                                                <option value="3">3 mm</option>
                                            </select>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="profile_count">تعداد</label>
                                            <input type="number" class="form-control" id="profile_count"
                                                   name="profile_count" value="1">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="profile_weight">وزن</label>
                                            <input type="text" class="form-control font-vazir-bold-fd p-3"
                                                   disabled id="profile_weight"
                                                   name="profile_weight" value="0 کیلوگرم">
                                            <p class="font-vazir-bold-fd mt-2 font-size-85">
                                                <i class="fas fa-info-circle"></i>
                                                وزن به دست آمده تقریبی می باشد
                                            </p>
                                            <p class="font-vazir-bold-fd mt-2 font-size-85">
                                                <a href="{% url 'product:product-list' %}?search=پروفیل"
                                                   class=" text-primary"
                                                >
                                                    <i class="fas fa-shopping-cart"></i>
                                                    مشاهده محصولات پروفیل در سایت
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                                <form class="rounded-card box-shadow" style="display: none; font-size: 0.9rem;"
                                      id="rebar_calculator">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <p class="h6 font-vazir-bold-fd mt-2 mb-4">محاسبه وزن میلگرد : </p>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="rebar_diameter">قطر</label>
                                            <select class="form-control" id="rebar_diameter"
                                                    name="rebar_diameter">
                                                <option value="8" selected>سایز 8</option>
                                                <option value="10">سایز 10</option>
                                                <option value="12">سایز 12</option>
                                                <option value="14">سایز 14</option>
                                                <option value="16">سایز 16</option>
                                                <option value="18">سایز 18</option>
                                                <option value="20">سایز 20</option>
                                                <option value="22">سایز 22</option>
                                                <option value="24">سایز 24</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="rebar_length">طول</label>
                                            <select class="form-control" id="rebar_length"
                                                    name="rebar_length">
                                                <option value="6">شاخه 6 متری</option>
                                                <option value="12" selected>شاخه 12 متری</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="rebar_count">تعداد</label>
                                            <input type="number" class="form-control" id="rebar_count"
                                                   name="rebar_count" value="1">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="rebar_weight">وزن</label>
                                            <input type="text" class="form-control font-vazir-bold-fd p-3"
                                                   disabled id="rebar_weight"
                                                   name="rebar_weight" value="0 کیلوگرم">
                                            <p class="font-vazir-bold-fd mt-2 font-size-85">
                                                <i class="fas fa-info-circle"></i>
                                                وزن به دست آمده تقریبی می باشد.
                                            </p>
                                            <p class="font-vazir-bold-fd mt-2 font-size-85">
                                                <a href="{% url 'product:product-list' %}?search=میلگرد"
                                                   class=" text-primary"
                                                >
                                                    <i class="fas fa-shopping-cart"></i>
                                                    مشاهده محصولات میلگرد در سایت
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                                <form class="rounded-card box-shadow" style="display: none;font-size: 0.9rem;"
                                      id="foil_calculator">
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <p class="h6 font-vazir-bold-fd mt-2 mb-4">محاسبه وزن ورق : </p>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85" for="foil_length">طول
                                                (متر)</label>
                                            <input type="number" class="form-control" id="foil_length"
                                                   name="foil_length" value="2">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85" for="foil_width">عرض
                                                (متر)</label>
                                            <input type="number" class="form-control" id="foil_width"
                                                   name="foil_width" value="1">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="foil_thickness">ضخامت</label>
                                            <select class="form-control" id="foil_thickness"
                                                    name="foil_thickness">
                                                <option value="0.25">0.25 mm</option>
                                                <option value="0.5">0.5 mm</option>
                                                <option value="0.75">0.75 mm</option>
                                                <option value="1">1 mm</option>
                                                <option value="1.5">1.5 mm</option>
                                                <option value="2">2 mm</option>
                                                <option value="2.5">2.5 mm</option>
                                                <option value="3" selected>3 mm</option>
                                                <option value="4">4 mm</option>
                                                <option value="5">5 mm</option>
                                            </select>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="font-vazir-bold-fd font-size-85"
                                                   for="foil_count">تعداد</label>
                                            <input type="number" class="form-control" id="foil_count"
                                                   name="profile_count" value="1">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <label class="font-vazir-bold-fd font-size-85" for="foil_weight">وزن</label>
                                            <input type="text" class="form-control font-vazir-bold-fd p-3"
                                                   disabled id="foil_weight"
                                                   name="foil_weight" value="0 کیلوگرم">
                                            <p class="font-vazir-bold-fd mt-2 font-size-85">
                                                <i class="fas fa-info-circle"></i>
                                                وزن به دست آمده تقریبی می باشد.
                                            </p>
                                            <p class="font-vazir-bold-fd mt-2 font-size-85">
                                                <a href="{% url 'product:product-list' %}?search=ورق"
                                                   class=" text-primary"
                                                >
                                                    <i class="fas fa-shopping-cart"></i>
                                                    مشاهده محصولات ورق در سایت
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-12 my-3">
                                <div class="rounded-card box-shadow">
                                    <h2 class="font-vazir-bold-fd title my-3 h5">
                                        چرایی و چگونگی محاسبه وزن آهن
                                    </h2>

                                    <h3 class="font-vazir-bold-fd h6 mt-4 h4">
                                        چرا باید از جدول وزن آهن آلات استفاده کنیم ؟
                                    </h3>
                                    <p class="text-align-justify">
                                        محاسبه دقیق وزن آهن برای افزایش کارایی و اطمینان از برخی خواص آن مانند استحکام ،
                                        مقاومت در برابر خوردگی ، محاسبه قیمت آهن ، ضایعات و ... امری بسیار مهم و مورد
                                        نیاز است . تولید کنندگان و مصرف کنندگان مقاطع فولادی با محاسبه دقیق وزن آهن
                                        میتوانند بهره وری بیشتری در ساخت داشته باشند و کیفیت کلی محصولات را بهبود دهند و
                                        ضایعات کمتری نیز دور بریزند . <br>این محصول صنعتی در صنایع مختلفی مانند ساختمان
                                        سازی
                                        ، خودرو سازی ، لوازم ابزارآلات و ماشین آلات ، میلیه های بتنی و صنایع دیگر کاربرد
                                        دارد و محاسبه وزن یکی از حیاطی ترین نیاز آنها قبل از خرید است. از اهمیت جدول وزن
                                        آهن میتوان به سرعت بخشیدن به عملیات تخمین میزان وزن مقطع فولادی ، افزایش کارایی
                                        در ساخت ، کاهش میزان خطا در محاسبه و سریع تر محاسبه کردن صورتحساب های فروش اشاره
                                        کرد.
                                    </p>

{#                                    <div class="d-flex justify-content-center align-items-center">#}
{#                                        <img src="http://127.0.0.1:8000/media/articles/thumbnail/733526-2023-04-20_190358.6595560000.png"#}
{#                                         alt="" class="img-fluid rounded-3">#}
{#                                    </div>#}

                                    <h4 class="font-vazir-bold-fd h6 mt-4">
                                        چگونه وزن آهن را به صورت آنلاین محاسبه کنیم ؟
                                    </h4>
                                    <p class="text-align-justify">
                                        با رشد و توسعه دنیای اینترنت و افزایش ابزار های کابردی آنلاین ، با استفاده از
                                        آنها میتوان کار ها را سریع تر از قبل پیش برد . برای موفقیت در کسب و کار خود ،
                                        شما نیاز به استفاده از ابزار هایی دارید تا فرایند های مختلف کسب و کار مانند
                                        محاسبه وزن و قیمت را راحت تر کند .محاسبه آنلاین وزن آهن و دسترسی به جداول وزن ،
                                        یکی از ابزار های آنلاینی است که شما میتوانید برای پیشرفت سریع در کار خود از آن
                                        استفاده کنید .
                                        <br>
                                        همانطور که میدانید هر یک از مقاطع فولادی دارای جدول وزن به خصوصی است که برای به
                                        دست آوردن اطلاعات آن مقطع با مشخصات فیزیکی مورد نیاز میتوان از آن استفاده کرد ؛
                                        استفاده از جداول چالش هایی را به همراه دارد برای مثال درصد خطای بالا و زمان
                                        زیادی نیاز دارد. از این رو برای راحتی کار فروشندگان ، خریداران و تمامی فعالین
                                        این حوزه مانند مهندسان سازه ، جوشکار ها ، صنایع تولیدی و ... ابزاری برای محاسبه
                                        آنلاین وزن آهن طراحی کردیم تا با استفاده از آن بتوانید هرچه بهتر و با دقت و سرعت
                                        بیشتر کار خودرا پیش ببرید.
                                    </p>

                                    <h4 class="font-vazir-bold-fd h6 mt-4">
                                        چگونه از ماشین حساب محاسبه وزن آهن استفاده کنیم ؟
                                    </h4>
                                    <ul>
                                        <li>
                                            به صفحه <a href="{% url 'core:calculator' %}"
                                                       class="link-primary text-decoration-underline">محاسبه
                                            وزن آهن</a> بروید
                                        </li>
                                        <li>
                                            در قسمت "نوع محاسبه" محصولی که نیاز به محاسبه آن را دارید را انتخاب کنید
                                        </li>
                                        <li>
                                            مقادیر فیزیکی مورد نیاز مانند ابعاد ، ضخامت ، متراژ ، طول شاخه ، قطر و مقدار
                                            های دیگر را وارد کنید
                                        </li>
                                        <li>
                                            وزن تخمینی مقطع شما در قسمت "وزن" نمایش داده میشود
                                        </li>
                                    </ul>

                                    <h4 class="font-vazir-bold-fd h6 mt-4">
                                        چه عواملی بر وزن آهن تاثیر گذارند ؟
                                    </h4>
                                    <p class="text-align-justify">
                                        به طور کلی عوامل تاثیر گذار بر وزن آهن عبارت اند از : 1- ضخامت مقطع فولادی 2-
                                        طول 3- عرض 4- چگالی . وزن آهن تحت تاثیر عوامل مختلف قرار دارد. برای مثال خالصی
                                        یا ناخالصی آهن میتواند بر کاهش یا افزایش وزن آن تاثیر بگذارد.
                                        <br>
                                        علاوه بر خلوص آهن
                                        ، دمای تولید آهن نیز بر وزن آن تاثیر میگذارد ، زیرا آهن داغ تر انرژی حرارتی
                                        بیشتری دارد و به دلیل افزایش حرکت مولکولی ، وزن آن بیشتر میشود . همانطور که در
                                        بالا به آن اشاره شد 4 عامل اصلی شکل ، چگالی ، ابعاد و اندازه مهم ترین پارامتر
                                        های تاثیرگذار بر روی وزن مقطع فولادی میباشد .
                                        <br>
                                        علاوه بر نکات گفته شده وجود عناصر
                                        یا آلیاژ های دیگر میتواند بر وزن آن تاثیر بگذارد ، زیرا کم و زیاد کردن برخی مواد
                                        در ترکیب آهن میتواند چگالی آهن را کاهش دهد.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block meta_js_codes %}
    <script src="{% static 'site_statics/js/ironCalculator.js' %}?v=2"></script>
{% endblock %}