{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}پیکوفلز | ارتباط با ما{% endblock %}

{% block meta_tags %}
    <meta property="og:url" content="https://picofelez.ir/contact-us/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | ارتباط با ما">
    <meta name="og:description" content="گروه فلزکاری عبدی - پیکوفلز تولید کننده انواع محصولات فلزی">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:url" content="https://picofelez.ir/contact-us/">
    <meta name="twitter:title" content="پیکوفلز | ارتباط با ما">
    <meta name="twitter:description" content="گروه فلزکاری عبدی - پیکوفلز تولید کننده انواع محصولات فلزی">

    <meta name="keywords"
          content="فلزکاری عبدی،پیکوفلز،گروه فلزکاری،آهن،درب و پنجره آهنی،فرفورژه،جوشکاری،آهنگری،شاسی کشی نمای ساختمان">

    <meta name="title" content="پیکوفلز | ارتباط با ما"/>
    <meta name="description" content="گروه فلزکاری عبدی - پیکوفلز تولید کننده انواع محصولات فلزی">
{% endblock %}

{% block content %}
    <section class="inner-page" id="contact-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>گروه فلزکاری عبدی</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            تماس با ما
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">
                            {#                            <div class="col-12 col-md-5 mb-3">#}
                            {#                                <div class="contact-page-info"></div>#}
                            {#                            </div>#}
                            <div class="col-12 col-md-4 mt-4">
                                <div class="row">
                                    <div
                                            class="col-6 col-md-12 mb-5 contact-card"
                                    >
                                        <span><i class="fas fa-phone"></i></span>
                                        <p class="mb-0">شماره تماس:</p>
                                        <span class="contact-card-info">
                                            09199060652
                                            -
                                            09124675462
                                        </span>
                                    </div>
                                    <div
                                            class="col-6 col-md-12 mb-5 contact-card"
                                    >
                                        <span><i class="fas fa-map"></i></span>
                                        <p class="mb-0">آدرس:</p>
                                        <span class="contact-card-info">کرج، کمالشهر</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 mb-3">
                                <h5 class="title font-vazir-bold-fd">فرم ارتباط با ما</h5>
                                <p class="mt-3">
                                    از اطلاعات تماس استفاده کنید یا با استفاده از فرم زیر با ما ارتباط بگیرید.
                                </p>
                                <hr class="my-4"/>

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <label class="small font-vazir-bold-fd mb-2"
                                                   for="{{ form.full_name.id_for_label }}">
                                                {{ form.full_name.label }}*
                                            </label>
                                            {{ form.full_name|add_class:'form-control' }}
                                        </div>
                                        <div class="col-12 col-md-12 mb-3">
                                            <label class="small font-vazir-bold-fd mb-2"
                                                   for="{{ form.phone.id_for_label }}">
                                                {{ form.phone.label }}*
                                            </label>
                                            {{ form.phone|add_class:'form-control' }}
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label class="small font-vazir-bold-fd mb-2"
                                                   for="{{ form.message.id_for_label }}">
                                                {{ form.message.label }}*
                                            </label>
                                            {{ form.message|add_class:'form-control'|attr:'rows:3' }}
                                        </div>
                                        <div class="col-12 mb-2">
                                            <button class="btn btn-purple">ارسال</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}