{% extends 'core/base/_base.html' %}
{% load static %}
{% block title %}پیکوفلز | گروه فلزکاری عبدی{% endblock %}

{% block content %}
    <section class="intro-box">
        <section class="container position-relative py-5">
            <div class="row justify-content-center mb-4 mt-4">
                <div class="col-xl-7 col-lg-9 text-center">
                    <h1 class="font-vazir-bold-fd mb-3">
                        <span class="text-purple">پیکو</span>فلز
                    </h1>
                </div>
            </div>
            <div class="text-center mb-5">
                <a href="{% url 'core:work-sample-list' %}" class="btn btn-outline-dark px-4 py-2">
                    <i class="fas fa-newspaper"></i>
                    نمونه کارها
                </a>
                <a href="{% url 'core:contact-us' %}" class="btn btn-outline-dark px-4 py-2">
                    <i class="fas fa-phone"></i>
                    ارتباط با ما
                </a>
            </div>
            <div class="row icon-boxes mb-5">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-shop"></i></div>
                        <h4 class="icon-box-title">
                            <a href="{% url 'core:work-sample-list' %}">انتخاب محصول</a>
                        </h4>
                        <p class="description">
                            از نمونه کارهای ما بازدید ، محصول خودرا انتخاب و با ما
                            تماس بگیرید!
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-gear"></i></div>
                        <h4 class="icon-box-title">
                            <a href="{% url 'core:contact-us' %}">
                                بازدید فنی
                            </a>
                        </h4>
                        <p class="description">
                            پس از انتخاب محصول با حضور در محل پروژه بازدید فنی و الگو برداری دقیق صورت میگیرد.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-screwdriver-wrench"></i></div>
                        <h4 class="icon-box-title">
                            <a href="{% url 'core:about-us' %}">
                                ساخت و تولید
                            </a>
                        </h4>
                        <p class="description">
                            سفارش شما با تجهیزات به روز و حرفه ای و با رعایت اصول مهندسی طراحی و تولید می شود.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-truck"></i></div>
                        <h4 class="icon-box-title">
                            <a href="{% url 'blog:blog-list' %}">
                                نصب و اجرا
                            </a>
                        </h4>
                        <p class="description">
                            پس از اتمام ساخت، بارگیری به محل پروژه انجام و درصورت نیاز توسط تیم متخصص
                            نصب میشود.
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </section>

    <section class="home-product my-5">
        <section class="container">
            <!-- title -->
            <div class="row">
                <div class="col-12 mb-2">
                    <h1 class="h4 font-vazir-bold-fd text-center mb-4">نمونه کارها</h1>
                </div>
            </div>
            <!-- products -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 products justify-content-center">
                {% for worksample in portfolio %}
                    <section class="col-lg-4 col-md-6 col-12 mb-3">
                        {% include 'metallurgy/components/portfolio_card_component.html' %}
                    </section>
                {% endfor %}

            </div>
{#            <div class="d-flex justify-content-center">#}
{#                <a href="{% url 'core:work-sample-list' %}" class="btn btn-outline-purple">همه نمونه کارها</a>#}
{#            </div>#}
        </section>
    </section>


    <section id="contact-info" class="contact-info">
        <section class="container">
            <section class="text-center">
                <p class="h4 font-vazir-bold-fd">همکاری با ما</p>
            </section>
            <section class="row mt-4 mx-2 mx-md-0">
                <section class="col-md-3 col-12 mb-3">
                    <a href="{% url 'core:contact-us' %}" class="contact-info-card rounded flex-center">
                            <span>
                                <i class="fas fa-door-closed"></i>
                            </span>
                        <p>
                            درب، پنجره، حفاظ<br>
                            <small>مشاوره و همکاری</small>
                        </p>
                    </a>
                </section>
                <section class="col-md-3 col-12 mb-3">
                    <a href="{% url 'core:contact-us' %}" class="contact-info-card rounded flex-center">
                            <span>
                                <i class="fas fa-industry"></i>
                            </span>
                        <p>
                            فرفورژه<br>
                            <small>مشاوره و همکاری</small>
                        </p>
                    </a>
                </section>
                <section class="col-md-3 col-12 mb-3">
                    <a href="{% url 'core:contact-us' %}" class="contact-info-card rounded flex-center">
                            <span>
                                <i class="fas fa-building"></i>
                            </span>
                        <p>
                            شاسی کشی نما<br>
                            <small>مشاوره و همکاری</small>
                        </p>
                    </a>
                </section>
                <section class="col-md-3 col-12 mb-3">
                    <a href="{% url 'core:contact-us' %}" class="contact-info-card rounded flex-center">
                            <span>
                                <i class="fas fa-tools"></i>
                            </span>
                        <p>
                            محصولات فلزی دیگر<br>
                            <small>مشاوره و همکاری</small>
                        </p>
                    </a>
                </section>
            </section>
        </section>
    </section>

{#    <hr>#}

    <section id="call-info" class="call-info my-3">
        <section class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-7 mb-3">
                    <p class="h6 text-center">صنایع فلزی - ساختمانی</p>
                    <p class="h4 my-4 text-center">گروه فلزکاری عبدی (پیکوفلز)</p>
                    <p class="call-info-text text-center">
                        با بیش از 30 سال سابقه در طراحی و تولید انواع درب و پنجره و حفاظ آهنی،
                        تانکر، لانچر، شاسی دستگاه های صنعتی، شاسی کشی نما، فرفورژه، اسکلت فلزی سبک، تیرچه کرومیت، اسکلت
                        تیرچه
                        های پاشنه بتنی، وال پست و ...
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <img src="{% static 'site_statics/img/bg/14.jpg' %}" alt="شهر" class="rounded-3" width="100%" height="300">
                </div>
            </div>
        </section>
    </section>

{#    <section class="my-5">#}
{#        <section class="text-center contact-info-title">#}
{#            <p class="h5 font-vazir-bold-fd">کارفرما هایی که به ما اعتماد کرده اند</p>#}
{#        </section>#}
{#        <div class="container">#}
{#            <div class="slider">#}
{#                <div class="slide-track">#}
{#                    <div class="slide">#}
{#                        <img src="{% static 'site_statics/img/logo/forSiteHeader.png' %}"#}
{#                             alt=""/>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{#    <hr>#}

    <section class="home-article my-5">
        <section class="container">
            <!-- title -->
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="text-center h4 font-vazir-bold-fd mb-4">نوشته های اخیر</h3>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 products justify-content-center">
                {% for article in latest_articles %}
                    {% include 'blog/components/article_card_component.html' %}
                {% endfor %}
            </div>
        </section>
    </section>

{% endblock %}