{% extends 'core/base/_base.html' %}
{% load static %}
{% block title %}
    پیکو فلز | بازار آنلاین خرید و فروش آهن
{% endblock %}

{% block content %}
    <section class="intro mt-3">
        <section class="container">
            <div class="row">
                <div class="col-12 col-md-9">
                    <a href="#">
                        <img
                                src="{% static 'site_statics/img/banner/slide2.jpg' %}"
                                class="intro-banner-img"
                                alt=""
                                width="100%"
                                style="height: auto"
                        />
                    </a>
                </div>
                <div class="col-12 col-md-3 mt-2 mt-sm-1 text-center text-sm-start">
                    <div
                            class="row row-cols-1 row-cols-sm-3 row-cols-md-1 h-100 gy-2 g-sm-1 g-md-0"
                    >
                        <div class="col">
                            <a href="#">
                                <img
                                        src="{% static 'site_statics/img/banner/side-slide1.jpg' %}"
                                        class="intro-banner-img"
                                        alt="banner"
                                        width="100%"
                                        style="height: auto"
                                />
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img
                                        src="{% static 'site_statics/img/banner/side-slide2.jpg' %}"
                                        class="intro-banner-img"
                                        alt="banner"
                                        width="100%"
                                        style="height: auto"
                                />
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img
                                        src="img/banner/side-slide3.jpg"
                                        class="intro-banner-img"
                                        alt="banner"
                                        width="100%"
                                        style="height: auto"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="home-product mt-5">
        <section class="container">
            <!-- title -->
            <div class="row">
                <div class="col-12">
                    <h4 class="title font-vazir-bold-fd">محصولات اخیر</h4>
                </div>
            </div>
            <!-- products -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 products">
                {% for product in latest_products %}
                    {% include 'product/components/product_card_component.html' %}
                {% endfor %}

            </div>
            <a href="{% url 'product:product-list' %}" class="btn btn-purple">همه محصولات</a>
        </section>
    </section>

    <section class="home-stores mt-5">
        <section class="container">
            <!-- title -->
            <div class="row">
                <div class="col-12">
                    <h4 class="title font-vazir-bold-fd">فروشگاه های برتر</h4>
                </div>
            </div>
            <!-- stores -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 products">
                <div class="col">
                    <!-- product box -->
                    <div class="col">
                        <div class="store">
                            <a href="#">
                                <img src="{% static 'site_statics/img/bg/8.jpg' %}" class="store-img"
                                     alt="prouct name"/>
                            </a>
                            <div class="store-details p-2">
                                <div class="store-rate mt-1">
                                    <i class="fas fa-star text-purple"></i>
                                    <i class="fas fa-star text-purple"></i>
                                    <i class="fas fa-star text-purple"></i>
                                    <i class="fas fa-star text-purple"></i>
                                    <i class="far fa-star"></i>
                                    (4.5 امتیاز)
                                </div>
                                <a href="#">
                                    <h2 class="store-name text-purple">
                                        آهن فروشی جوادی
                                    </h2>
                                </a>
                                <p class="store-description text-secondary mt-1 mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم...
                                </p>
                                <a href="#" class="btn border rounded w-100">مشاهده فروشگاه</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <!-- product box -->
                    <div class="col">
                        <div class="store">
                            <a href="#">
                                <img src="{% static 'site_statics/img/bg/4.jpg' %}" class="store-img"
                                     alt="prouct name"/>
                            </a>
                            <div class="store-details p-2">
                                <div class="store-rate mt-1">
                                    <i class="fas fa-star text-purple"></i>
                                    <i class="fas fa-star text-purple"></i>
                                    <i class="fas fa-star text-purple"></i>
                                    <i class="fas fa-star text-purple"></i>
                                    <i class="far fa-star"></i>
                                    (4.5 امتیاز)
                                </div>
                                <a href="#">
                                    <h2 class="store-name text-purple">
                                        آهن فروشی جوادی
                                    </h2>
                                </a>
                                <p class="store-description text-secondary mt-1 mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم...
                                </p>
                                <a href="#" class="btn border rounded w-100">مشاهده فروشگاه</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-purple">همه فروشگاه ها</a>
        </section>
    </section>

    <section class="purchas-steps mt-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h4 class="title font-vazir-bold-fd">مراحل خرید</h4>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div
                            class="purchas-step-item d-flex justify-content-between align-items-center"
                    >
                        <div class="purchas-step-icon">
                            <i class="fas fa-globe"></i>
                        </div>
                        <div class="purchas-step-content">
                            <p class="fw-semibold p-0 m-0 mb-1">انتخاب محصول</p>
                            <p class="text-gray">
                                محصولات و فروشگاه ها را مقایسه کنید و بهترین انتخاب را داشته
                                باشید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div
                            class="purchas-step-item d-flex justify-content-between align-items-center"
                    >
                        <div class="purchas-step-icon">
                            <i class="fas fa-cart-shopping"></i>
                        </div>
                        <div class="purchas-step-content">
                            <p class="fw-semibold p-0 m-0 mb-1">تکمیل سبد خرید</p>
                            <p class="text-gray">
                                سبد خرید خود را تکمیل کنید و سفارش را برای تائید ارسال کنید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div
                            class="purchas-step-item d-flex justify-content-between align-items-center"
                    >
                        <div class="purchas-step-icon">
                            <i class="fas fa-shop"></i>
                        </div>
                        <div class="purchas-step-content">
                            <p class="fw-semibold p-0 m-0 mb-1">پیش فاکتور</p>
                            <p class="text-gray">
                                پس از تائید فروشگاه ها پیش فاکتور صادر میشود و باید فاکتور را
                                تسویه کنید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <div
                            class="purchas-step-item d-flex justify-content-between align-items-center"
                    >
                        <div class="purchas-step-icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="purchas-step-content">
                            <p class="fw-semibold p-0 m-0 mb-1">ارسال مرسوله</p>
                            <p class="text-gray">
                                بعد از نهایی شدن سفارش، مرسوله از فروشگاه ها برای شما ارسال می
                                شود.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}