{% extends 'shop/panel/base/_shop_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    محصولات شما | پیکوفلز
{% endblock %}

{% block secondary_title %}
    محصولات
{% endblock %}

{% block secondary_title_detail %}
    <a href="{% url 'shop:shop-panel-products-create' shop.unique_uuid %}" class="btn btn-primary btn-sm">ایجاد محصول جدید</a>
{% endblock %}

{% block content %}

    <div class="tab-content">
        <!--begin::Tab pane-->
        <div id="kt_project_کاربران_card_pane" class="tab-pane fade show active">
            <!--begin::Row-->
            <div class="row g-6 g-xl-9">

                {% for product in page_obj %}

                    <div class="col-md-6 col-xxl-4">
                        <div class="card">
                            <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-65px symbol-circle mb-5">
                                    <img src="{{ product.image.url }}" alt="image">
                                </div>
                                <!--end::Avatar-->
                                <!--begin::نام-->
                                <a href="#"
                                   class="fs-4 text-gray-800 text-hover-primary fw-bolder mb-0">{{ product.title }}</a>
                                <!--end::نام-->
                                <!--begin::جایگاه-->
                                <div class="fw-bold text-gray-400 mb-6">واحد: {{ product.quantity }}</div>
                                <!--end::جایگاه-->
                                <!--begin::Info-->
                                <div class="d-flex flex-center flex-wrap">
                                    <!--begin::Stats-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                                        <div class="fs-6 fw-bolder text-gray-700">{{ product.price|intcomma:False }} ت
                                        </div>
                                        <div class="fw-bold text-gray-400">قیمت واحد</div>
                                    </div>
                                    <!--end::Stats-->
                                    <!--begin::Stats-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                                        <div class="fs-6 fw-bolder text-gray-700">{{ product.stock }}</div>
                                        <div class="fw-bold text-gray-400">موجودی</div>
                                    </div>
                                    <!--end::Stats-->
                                    <!--begin::Stats-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                                        <div class="fs-6 fw-bolder text-gray-700">
                                            {% if product.is_active %}
                                                <i class="fas fa-check text-success"></i>
                                                فعال
                                            {% else %}
                                                <i class="fas fa-trash text-danger"></i>
                                                غیرفعال
                                            {% endif %}
                                        </div>
                                        <div class="fw-bold text-gray-400">وضعیت نمایش</div>
                                    </div>
                                    <!--end::Stats-->
                                    <div class="border border-gray-300 border-dashed rounded min-w-80px py-3 px-4 mx-2 mb-3">
                                        <a href="{% url 'shop:shop-panel-products-update' shop.unique_uuid product.pk %}" class="btn btn-light-success">ویرایش</a>
                                        <a href="#" class="btn btn-light-danger">بروزرسانی قیمت</a>
                                    </div>
                                </div>
                                <!--end::Info-->
                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>

            {% include 'core/components/paginate_component.html' %}

        </div>
    </div>

{% endblock %}