{% extends 'shop/panel/base/_shop_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    فاکتور ها | پیکوفلز
{% endblock %}

{% block secondary_title %}
    فاکتور ها
{% endblock %}

{% block secondary_title_detail %}{% endblock %}

{% block content %}

    <div class="row g-6 g-xl-9">
        <div class="card">
            <div class="card-header align-items-center py-5 gap-2 gap-md-5" data-select2-id="select2-data-124-w3ha">
                <!--end::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar flex-row-fluid justify-content-start gap-5"
                     data-select2-id="select2-data-123-36cp">
                    <a href="{% url 'shop:shop-panel-invoices-create' shop.unique_uuid %}" class="btn btn-primary">افزودن
                        فاکتور</a>
                </div>
                <!--end::Card toolbar-->
            </div>
        </div>

        {% for invoice in page_obj %}
            <div class="col-md-6 col-xl-4">
                <!--begin::Card-->
                <a href="{% url 'shop:shop-panel-invoices-detail' shop.unique_uuid invoice.pk %}"
                   class="card border-hover-primary">
                    <!--begin::Card header-->
                    <div class="card-header border-0 pt-9">
                        <div class="card-toolbar">
                            <span class="badge badge-light-primary fw-bolder me-auto px-4 py-3">
                                شناسه فاکتور: {{ invoice.id }}
                            </span>
                            {% if invoice.invoice_shop == 'pre' %}
                                <span class="badge ms-1 badge-info px-4 py-2">{{ invoice.get_invoice_shop_display }}</span>
                            {% elif invoice.invoice_shop == 'sales' %}
                                <span class="badge ms-1 badge-success px-4 py-2">{{ invoice.get_invoice_shop_display }}</span>
                            {% endif %}
                        </div>
                        <!--end::Card toolbar-->
                    </div>
                    <!--end:: Card header-->
                    <!--begin:: Card body-->
                    <div class="card-body p-9">
                        <!--begin::نام-->
                        <div class="fs-4 fw-bolder text-dark mb-4">
                            خریدار: {{ invoice.user.get_full_name }}
                        </div>
                        <div class="fs-6 fw-bolder text-dark mb-4">
                            {% if invoice.invoice_shop == 'sales' %}
                                تاریخ ثبت:
                                <span dir="rtl">
                                   {{ invoice.date }}
                                </span>
                            {% elif invoice.invoice_shop == 'pre' %}
                                اعتبار فاکتور تا
                                <span dir="rtl">
                                {{ invoice.life_time }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="d-flex flex-wrap mb-5">
                            <!--begin::Due-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3">
                                <div class="fs-6 text-gray-800 fw-bolder">
                                    {{ invoice.get_total_invoice_details|intcomma:False }} تومان
                                </div>
                                <div class="fw-bold text-gray-400">جمع خالص فاکتور</div>
                            </div>
                            <!--end::Due-->
                            <!--begin::بودجه-->
                            <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3">
                                <div class="fs-6 text-gray-800 fw-bolder">{{ invoice.get_total_invoice_price|intcomma:False }}
                                    تومان
                                </div>
                                <div class="fw-bold text-gray-400">جمع کل فاکتور</div>
                            </div>
                            <!--end::بودجه-->
                        </div>
                    </div>
                    <!--end:: Card body-->
                </a>
                <!--end::Card-->
            </div>
        {% empty %}
            <div class="alert alert-dark">سفارشی برای شما ثبت نشده</div>
        {% endfor %}


    </div>

{% endblock %}