{% extends 'shop/panel/base/_shop_base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
    ساخت فاکتور | پیکوفلز
{% endblock %}

{% block secondary_title %}
    فاکتور
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cards casrd-custom">
                        <form class="form" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                {% if url_name == 'shop-panel-invoices-create' %}
                                                    افزودن فاکتور
                                                {% else %}
                                                    ویرایش فاکتور
                                                {% endif %}
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 mb-5">
                                                    <div class="border rounded p-3 d-flex justify-content-start align-items-center">
                                                        <div class="me-3">
                                                            <img
                                                                    src="{% static 'shop_panel_static/media/svg/avatars/001-boy.svg' %}"
                                                                    alt="customer"
                                                                    width="70"
                                                                    height="70"
                                                            >
                                                        </div>
                                                        <div>
                                                            {% if factor.user %}
                                                                <h6>
                                                                    مشتری: {{ factor.user.get_full_name }}
                                                                </h6>
                                                                <h6 class="mt-3">
                                                                    شماره:
                                                                    {{ factor.user.username }}
                                                                </h6>
                                                                <input type="text" id="username" name="username"
                                                                       value="{{ factor.user.username }}" hidden>
                                                            {% else %}
                                                                <!-- Button trigger modal -->
                                                                <button type="button" class="btn btn-primary"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#customerModal">
                                                                    انتخاب مشتری
                                                                </button>

                                                                <!-- Modal -->
                                                                <div class="modal fade" id="customerModal" tabindex="-1"
                                                                     aria-labelledby="selectCustomerModal"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title"
                                                                                    id="selectCustomerModal">انتخاب
                                                                                    مشتری</h5>
                                                                                <button type="button" class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div>
                                                                                    <label for="phone">
                                                                                        شماره موبایل
                                                                                        <span class="text-danger">*</span>
                                                                                    </label>
                                                                                    <input type="tel"
                                                                                           class="form-control"
                                                                                           placeholder="شماره موبایل"
                                                                                           id="phone"
                                                                                    >

                                                                                    <label for="first_name"
                                                                                           class="mt-5">
                                                                                        نام
                                                                                    </label>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="نام"
                                                                                           id="first_name"
                                                                                    >

                                                                                    <label for="last_name" class="mt-5">
                                                                                        نام خانوادگی
                                                                                    </label>
                                                                                    <input type="text"
                                                                                           class="form-control"
                                                                                           placeholder="نام خانوادگی"
                                                                                           id="last_name"
                                                                                    >
                                                                                    <input type="text" name="username"
                                                                                           id="username" hidden>

                                                                                    <div class="alert bg-light-success mt-5 mb-0"
                                                                                         id="customerModalSuccess"
                                                                                         style="display: none">
                                                                                        <h6>
                                                                                          <span>
                                                                                               <i class="fas fa-check me-2 text-success"
                                                                                                  style="font-size: 1.8rem"></i>
                                                                                          </span>
                                                                                            مشتری با موفقیت انتخاب شد!
                                                                                        </h6>
                                                                                    </div>
                                                                                    <div class="alert bg-light-info mt-5 mb-0"
                                                                                         id="customerModalLoading"
                                                                                         style="display: none">
                                                                                        <h6>
                                                                                          <span>
                                                                                               <i class="fas fa-spinner me-2 text-info"
                                                                                                  style="font-size: 1.8rem"></i>
                                                                                          </span>
                                                                                            درحال جستجو
                                                                                        </h6>
                                                                                    </div>
                                                                                    <div class="alert bg-light-danger mt-5 mb-0"
                                                                                         id="customerModalDanger"
                                                                                         style="display: none">
                                                                                        <h6>
                                                                                          <span>
                                                                                               <i class="fas fa-info me-2 text-danger"
                                                                                                  style="font-size: 1.8rem"></i>
                                                                                          </span>
                                                                                            انتخاب مشتری با خطا مواجه
                                                                                            شد!
                                                                                        </h6>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer"
                                                                                 style="justify-content: flex-start">
                                                                                <button type="button"
                                                                                        class="btn btn-primary w-100"
                                                                                        id="customerModalBtn">
                                                                                    جستجو
                                                                                </button>
                                                                                <button type="button"
                                                                                        class="btn btn-success w-100"
                                                                                        data-bs-dismiss="modal"
                                                                                        id="customerModalDismiss"
                                                                                        style="display: none"
                                                                                >
                                                                                    ذخیره
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-5">
                                                    <div class="form-group">
                                                        {{ factor_form.address|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-5">
                                                    <div class="form-group">
                                                        {{ factor_form.invoice_shop|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="col-md-2 mb-5">
                                                    <label class="form-control-label">تاریخ اعتبار*</label>
                                                    {{ factor_form.life_time }}
                                                    {% if factor_form.life_time.errors %}
                                                        <span class="form-text text-muted">{{ factor_form.life_time.errors }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-2 mb-5">
                                                    <label class="form-control-label">تاریخ ثبت*</label>
                                                    {{ factor_form.date }}
                                                    {% if factor_form.date.errors %}
                                                        <span class="form-text text-muted">{{ factor_form.date.errors }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-4 mb-5">
                                                    <div class="form-group">
                                                        {{ factor_form.tax|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mb-5">
                                                    <div class="form-group">
                                                        {{ factor_form.discount|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4" mb-5>
                                                    <div class="form-group">
                                                        {{ factor_form.transport_cost|as_crispy_field }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mt-5">
                                        <div class="card-header">
                                            {{ factor_detail_formset.management_form }}
                                            <div class="card-title">
                                                <h3>جزئیات فاکتور:</h3>
                                                <h6 class="ms-2">
                                                    <a href="{% url 'core:calculator' %}" target="_blank">برای محاسبه
                                                        وزن کلیک کنید</a>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row" id="factorDetailContainer">
                                                {% for form in factor_detail_formset %}
                                                    {{ form.errors }}
                                                    <div class="col-md-12 border-bottom pb-4 mb-5">
                                                        <div class="row">
                                                            <div class="col-md-3 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">نام:</label>
                                                                    <div class="input-group">
                                                                        {{ form.name }}
                                                                        {{ form.id }}
                                                                    </div>
                                                                    {% if form.name.errors %}
                                                                        <span class="form-text text-danger">{{ form.name.errors }}</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">
                                                                        مقدار
                                                                    </label>
                                                                    <div class="input-group">
                                                                        {{ form.quantity }}
                                                                    </div>
                                                                    {% if form.quantity.errors %}
                                                                        <span class="form-text text-danger">{{ form.quantity.errors }}</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">واحد:</label>
                                                                    <div class="input-group">
                                                                        {{ form.quantity_name }}
                                                                    </div>
                                                                    {% if form.quantity_name.errors %}
                                                                        <span class="form-text text-danger">{{ form.quantity_name.errors }}</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">قیمت واحد:</label>
                                                                    <div class="input-group">
                                                                        {{ form.amount }}
                                                                    </div>
                                                                    {% if form.amount.errors %}
                                                                        <span class="form-text text-danger">{{ form.amount.errors }}</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 mb-3">
                                                                <div class="form-group">
                                                                    <label class="form-control-label">تعداد:</label>
                                                                    <div class="input-group">
                                                                        {{ form.count_of_order }}
                                                                    </div>
                                                                    {% if form.count_of_order.errors %}
                                                                        <span class="form-text text-danger">{{ form.count_of_order.errors }}</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            {% if form.DELETE %}
                                                                <div class="col-md-1 mb-3">
                                                                    <div class="form-group">
                                                                        <label class="checkbox">حذف:</label>
                                                                        {{ form.DELETE }}
                                                                        {% if form.DELETE.errors %}
                                                                            <span class="form-text text-danger">{{ form.DELETE.errors }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-light-info" id="addFormBtn">
                                                    <i class="fa fa-plus-circle"></i> آیتم جدید
                                                </button>
                                                <button type="button" class="btn btn-light-danger d-none"
                                                        id="deleteFormBtn">
                                                    <i class="fa fa-minus-circle"></i> حذف آیتم
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    {% if url_name == 'shop-panel-invoices-create' %}
                                        <button type="submit" class="btn btn-success font-weight-bold mr-2">ایجاد
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-warning font-weight-bold mr-2">ویرایش
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                        <!-- end::Form -->
                    </div>
                </div>
            </div>
        </div>

    {% endwith %}
{% endblock %}

{% block meta_js_code %}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>

    <script>
        const add_form_btn = document.getElementById('addFormBtn')
        const delete_form_btn = document.getElementById('deleteFormBtn')
        const total_forms = document.getElementById('id_form-TOTAL_FORMS')
        const factor_detail_container = document.getElementById('factorDetailContainer')
        let form_length = parseInt("{{ form_length }}")

        add_form_btn.addEventListener('click', () => {
            form_length += 1
            delete_form_btn.classList = 'btn btn-light-danger'
            // increase total forms value
            total_forms.value = form_length
            // add new item
            factor_detail_container.insertAdjacentHTML('beforeend', `
            <div class="col-md-12 border-bottom pb-4 mb-5">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label class="form-control-label">نام:</label>
                            <div class="input-group">
                                <input type="text" name="form-${form_length - 1}-name" id="id_form-${form_length - 1}-name" class="form-control py-5 py-md-3" placeholder="نام">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="form-group">
                            <label class="form-control-label">مقدار:</label>
                            <div class="input-group">
                                <input type="number" name="form-${form_length - 1}-quantity" id="id_form-${form_length - 1}-quantity" class="form-control py-5 py-md-3" placeholder="مقدار">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 mb-3">
                        <div class="form-group">
                            <label class="form-control-label">واحد:</label>
                            <div class="input-group">
                                <input type="text" name="form-${form_length - 1}-quantity_name" id="id_form-${form_length - 1}-quantity_name" class="form-control py-5 py-md-3" placeholder="واحد">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label class="form-control-label">قیمت واحد:</label>
                            <div class="input-group">
                                <input type="number" name="form-${form_length - 1}-amount" id="id_form-${form_length - 1}-amount" class="form-control py-5 py-md-3" placeholder="قیمت">
                            </div>
                        </div>
                    </div>
                <div class="col-md-3 mb-3">
                        <div class="form-group">
                            <label class="form-control-label">تعداد:</label>
                            <div class="input-group">
                                <input type="text" name="form-${form_length - 1}-count_of_order" id="id_form-${form_length - 1}-count_of_order" class="form-control py-5 py-md-3" placeholder="تعداد">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `)
        })

        delete_form_btn.addEventListener('click', () => {
            if (form_length > 0) {
                form_length -= 1

                if (form_length < 1 || form_length === parseInt("{{ form_length }}")) {
                    delete_form_btn.classList = 'btn btn-light-danger d-none'
                }

                // increase total forms value
                total_forms.value = form_length
                // remove last item
                factor_detail_container.removeChild(factor_detail_container.lastElementChild)
            }
        })

        const jalali_date_picker = document.getElementById('id_date')
        jalali_date_picker.classList += ' form-control'
        const jalali_life_time_picker = document.getElementById('id_life_time')
        jalali_life_time_picker.classList += ' form-control'
    </script>

    <script src="{% static 'site_statics/js/script.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#customerModalBtn').click(function () {
                // get inputs data
                let phone = $('#phone').val()
                let first_name = $('#first_name')
                let last_name = $('#last_name')

                // TODO: regex phone number

                // ajax request
                let payload = {
                    phone: phone,
                    first_name: first_name.val(),
                    last_name: last_name.val()
                }

                $.ajax({
                    url: "/shop/panel/{{ shop.unique_uuid }}/invoices/create/customer",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({payload}),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    beforeSend: function () {
                        $('#customerModalLoading').fadeIn()
                    },
                    success: (data) => {
                        if (data['status'] === 'success') {
                            $('#customerModalSuccess').fadeIn()
                            $('#customerModalLoading').hide()

                            $(this).hide()
                            $('#customerModalDismiss').fadeIn('slow')

                            $('#username').val(data['phone'])
                            first_name.val(data['first_name'])
                            last_name.val(data['last_name'])
                        } else if (data['status'] === 'fail') {
                            console.log(data)
                        }
                    },
                    error: (data) => {
                        console.log(data)
                        $('#customerModalDanger').fadeIn()
                        Swal.fire({
                            icon: 'question',
                            title: "مشکلی پیش آمده لطفا دوباره امتحان کنید."
                        })
                    }
                })
            })
        })
    </script>
{% endblock %}