{% extends 'core/base/_base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}{{ object }} | پیکوفلز{% endblock %}

{% block meta_tags %}
    <meta property="og:url" content="https://picofelez.ir/products/{{ object.pk }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | {{ object.title }}">
    <meta property="og:description" content="{{ object.description }}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="picofelez.ir">
    <meta property="twitter:url" content="https://picofelez.ir/products/{{ object.pk }}">
    <meta name="twitter:title" content="پیکوفلز | {{ object.title }}">
    <meta name="twitter:description" content="{{ object.description }}">

    <meta name="keywords" content="{{ object.keywords }}">

    <meta name="title" content="پیکوفلز | {{ object.title }}">
    <meta name="description" content="{{ object.description }}">
{% endblock %}

{% block content %}
    <section class="inner-page" id="product-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>بازار آنلاین آهن</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'product:product-list' %}">محصولات</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            {{ product.title }} - {{ product.shop.title }}
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="col-12 mb-2">
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    </div>
                                {% endfor %}

                            {% endif %}

                            <div class="col-12 col-lg-5 mb-3">
                                <div class="product-detail-img rounded-card">
                                    <img src="{{ product.image.url }}" alt="{{ product.title }}"/>
                                </div>
                                <div class="price-changes-chart rounded-card">
                                    <canvas id="price-chart"></canvas>
                                </div>
                            </div>
                            <div class="col-12 col-lg-7 mb-5">
                                <div class="product-detail-info rounded-card">
                                    <h4 class="product-detail-info-title font-vazir-bold-fd">
                                        {{ product.title }}
                                    </h4>
                                    <div class="product-detail-info-meta my-4">
                                        <p class="m-0">
                                            <span class="text-secondary">
                                                <i class="fas fa-key me-1"></i>شناسه محصول:
                                            </span> {{ product.id }}
                                        </p>

                                        <br>

                                        <p class="m-0 text-secondary">
                                            <i class="fas fa-shop me-1"></i>
                                            فروشنده:
                                            <a href="{% url 'shop:shop-detail' product.shop.slug %}">{{ product.shop.title }}</a>
                                        </p>

                                        <div class="my-4">
                                            <span class="text-secondary">
                                                <i class="fa-regular fa-star-half-stroke"></i>
                                                امتیاز محصول:
                                            </span>
                                            <i class="fas fa-star text-purple"></i>
                                            <i class="fas fa-star text-purple"></i>
                                            <i class="fas fa-star text-purple"></i>
                                            <i class="fas fa-star text-purple"></i>
                                            <i class="far fa-star"></i>
                                            (4.5 ستاره)
                                        </div>

                                        <div class="product-detail-info-price my-4">
                                            {% if product.stock > 0 %}
                                                <p class="text-purple">
                                            <span class="text-secondary">
                                                <i class="fas fa-info-circle"></i>
                                                قیمت فروشنده:
                                            </span>
                                                    <strong>{{ product.price|intcomma:False }} تومان
                                                        (هر {{ product.quantity }})</strong>
                                                </p>
                                            {% else %}
                                                <p class="text-danger">
                                                    <strong>ناموجود</strong>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="product-detail-info-cart my-3">
                                        <hr/>
                                        {% if product.stock > 0 %}
                                            <p class="text-gray">
                                                موجود در انبار -
                                                <small>حداکثر {{ object.purchase_limit }} {{ object.quantity }} می
                                                    توانید بخرید</small>
                                            </p>
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <input
                                                            type="number"
                                                            id="orderCount"
                                                            class="form-control w-100 mb-2"
                                                            placeholder="تعداد"
                                                    />
                                                    <ul>
                                                        {% if cart|length > 0 %}
                                                            {% for item in cart %}
                                                                {% if object == item.product %}
                                                                    <li id="buyCount">
                                                                        <span id="itemInOrder">{{ item.count }}</span> {{ object.quantity }}
                                                                        از این
                                                                        محصول در سبد موجود است
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        <li id="orderCountErr" class="text-danger d-none">
                                                            حداکثر {{ object.purchase_limit }} {{ object.quantity }}
                                                            می توانید بخرید
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <button class="btn btn-outline-success w-100 mb-2" id="addToCart">
                                                        <i class="fas fa-shopping-cart"></i>
                                                        افزودن به سبد خرید
                                                    </button>
                                                </div>
                                            </div>
                                        {% else %}
                                            <p class="text-danger">
                                                <strong>محصول در انبار فروشنده موجود نیست.</strong>
                                            </p>
                                        {% endif %}
                                        <hr/>
                                    </div>
                                    <div class="product-detail-info-link mb-4">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                {% if request.user.is_authenticated %}
                                                    <span
                                                            class="btn btn-outline-success w-100 mb-2 no-hover"
                                                            id="add-favorite"
                                                    >
                                                    <i class="fas fa-heart"></i>
                                                    نشان کردن محصول
                                                </span>
                                                {% else %}
                                                    <a
                                                            class="btn btn-outline-success w-100 mb-2 no-hover"
                                                            href="{% url 'account:otp-login' %}?next=/products/pcf-5797089"
                                                    >
                                                        <i class="fas fa-heart"></i>
                                                        نشان کردن محصول
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <a
                                                        href="#"
                                                        class="btn btn-outline-success w-100 mb-2 no-hover"
                                                >
                                                    <i class="fas fa-code-compare"></i>
                                                    افزودن به لیست مقایسه
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 my-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="title font-vazir-bold-fd">اطلاعات بیشتر</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <table class="table bg-white box-shadow">
                                    <tbody>
                                    <tr>
                                        <th>وزن</th>
                                        <td>{{ product.weight }}</td>
                                    </tr>
                                    <tr>
                                        <th>طول | عرض</th>
                                        <td>{{ product.length }}</td>
                                    </tr>
                                    <tr>
                                        <th>ضخامت</th>
                                        <td>{{ product.width }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-12 my-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="title font-vazir-bold-fd">درباره محصول</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="product-detail-info-description mb-4">
                                    <p>
                                        {{ product.description }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 my-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="title font-vazir-bold-fd">نظرات محصول</h5>
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="col-12 mb-3">
                                    <div class="rounded-card" id="comment-section">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6 mb-2">
                                                    <label for="" class="font-vazir-bold-fd">متن نظر:</label>
                                                    {{ form.comment|add_class:"form-control" }}
                                                </div>

                                                <div class="col-md-6 mb-2 d-flex flex-column justify-content-center align-items-center">
                                                    <p class="h5 font-vazir-bold-fd">امتیاز</p>
                                                    <fieldset>
                                                    <span class="star-cb-group">
                                                      <input type="radio" id="id_rating_5" name="rating"
                                                             value="5"/><label for="id_rating_5">5</label>
                                                      <input type="radio" id="id_rating_4" name="rating" value="4"
                                                             checked="checked"/><label for="id_rating_4">4</label>
                                                      <input type="radio" id="id_rating_3" name="rating"
                                                             value="3"/><label for="id_rating_3">3</label>
                                                      <input type="radio" id="id_rating_2" name="rating"
                                                             value="2"/><label for="id_rating_2">2</label>
                                                      <input type="radio" id="id_rating_1" name="rating"
                                                             value="1"/><label for="id_rating_1">1</label>
                                                      <input type="radio" id="id_rating_0" name="rating" value="0"
                                                             class="star-cb-clear"/><label for="rating-0">0</label>
                                                    </span>
                                                    </fieldset>
                                                </div>
                                                {% if form.non_fields_errors or form.comment.errors or form.rating.errors %}
                                                    <div class="col-12 mb-2">
                                                        {{ form.non_fields_errors }}
                                                        {{ form.comment.errors }}
                                                        {{ form.rating.errors }}
                                                    </div>
                                                {% endif %}


                                                <div class="col-md-12 mb-2">
                                                    <button class="btn btn-outline-success">ارسال نظر</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-12 mb-3">
                                    <div class="alert alert-danger">
                                        برای نظر دادن ابتدا
                                        <a href="{% url 'account:otp-login' %}?next={% url 'product:product-detail' object.pk %}"
                                           class="text-primary">وارد حساب خود
                                            شوید.</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}

{% block meta_js_codes %}
    <script src="{% static 'site_statics/js/chart.min.js' %}"></script>
    <script>
        console.log({{ price_labels|safe }})
        const labels = {{ price_labels|safe }};

        const data = {
            labels: labels,
            datasets: [
                {
                    label: "تغییرات قیمت",
                    backgroundColor: "#6400ff",
                    borderColor: "#6400ff",
                    data: {{ price_data }},
                },
            ],
        };

        const config = {
            type: "line",
            data: data,
            options: {},
        };

        const myChart = new Chart(document.getElementById("price-chart"), config);
    </script>

    {% if request.user.is_authenticated %}
        <script>
            $("#add-favorite").click(function () {
                $.ajax({
                    'url': '/account/favorites/add',
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({
                        payload: {
                            'product_id': '{{ object.id }}'
                        }
                    }),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    success: (data) => {
                        if (data['status'] === 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'محصول به لیست نشان شده اضافه شد.',
                                footer: '<a href="/account/favorites/" target="_blank">محصولات نشان شده شما</a>'
                            })
                        } else if (data['status'] === 'deleted') {
                            Swal.fire('محصول از لیست نشان شده حذف شد.')
                        }
                    },
                    error: (data) => {
                        alert("لطفا ابتدا وارد حساب خود شوید و یا دوباره امتحان کنید.")
                    }
                })
            })
        </script>
    {% else %}
        <script>
            Swal.fire({
                icon: 'error',
                title: 'لطفا وارد حساب خود شوید.',
                text: 'با ورود به حساب خود می توانید از همه امکانات پیکوفلز بهره مند شوید.',
                footer: '<a href="/account/login">ورود</a> / <a href="/account/register">عضویت</a>'
            })
        </script>
    {% endif %}

    <script>
        $('#addToCart').click(function () {
            let countInput = $('#orderCount')
            let orderCountErr = $('#orderCountErr')

            if (countInput.val() <= parseInt('{{ object.purchase_limit }}')) {
                orderCountErr.removeClass('d-block')
                orderCountErr.addClass('d-none')

                let count = countInput.val() ? countInput.val() : 1

                $.ajax({
                    'url': `/cart/add/${'{{object.id}}'}`,
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({
                        payload: {
                            'count': count
                        }
                    }),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    success: (data) => {
                        if (data['status'] === 'added') {
                            $('#itemInOrder').text(count)
                            Swal.fire({
                                icon: 'success',
                                title: 'محصول به سبد خرید شما اضافه شد.',
                                footer: '<a href="/account/favorites/" target="_blank">مشاهده سبد خرید</a>'
                            })
                        } else if (data['status'] === 'failed') {
                            Swal.fire('مقدار درخواستی بیش از حد مجاز میباشد.')
                        }
                    },
                    error: (data) => {
                        Swal.fire("محصول به سبد اضافه نشد!")
                    }
                })


            } else {
                orderCountErr.removeClass('d-none')
                orderCountErr.addClass('d-block')
            }
        })
    </script>
{% endblock %}