{% extends 'core/base/_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    پیکوفلز | محصولات
{% endblock %}

{% block meta_tags %}
    <meta property="og:url" content="https://picofelez.ir/products/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | محصولات">
    <meta property="og:description" content="مشاهده و خرید محصولات فلزی">
    <meta name="description" content="مشاهده و خرید محصولات فلزی">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:domain" content="picofelez.ir">
    <meta property="twitter:url" content="https://picofelez.ir/products/">
    <meta name="twitter:title" content="پیکوفلز | محصولات">
    <meta name="twitter:description" content="مشاهده و خرید محصولات فلزی">

    <meta name="keywords" content="محصولات فولادی ، محصولات فلزی ، قیمت آهن ، قیمت میلگرد ، قیمت پروفیل ، بازار آهن">
{% endblock %}

{% block content %}
    <section class="inner-page" id="product-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>بازار آنلاین آهن</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            محصولات
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-12 col-lg-3 px-3 px-lg-0">
                                <div class="accordion filters-containe">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="categoriesCollapse">
                                            <button
                                                    class="accordion-button py-2 px-3"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#productCategoriesCollapse"
                                                    aria-expanded="true"
                                                    aria-controls="productCategoriesCollapse"
                                            >
                                                دسته بندی محصولات
                                            </button>
                                        </h2>
                                        <div
                                                id="productCategoriesCollapse"
                                                class="accordion-collapse"
                                                aria-labelledby="productCategories"
                                                data-bs-parent="#categoriesCollapse"
                                        >
                                            <div class="accordion-body">
                                                <form method="get">
                                                    {% for category in filter.form.categories %}
                                                        <div>
                                                            {{ category }}
                                                        </div>
                                                    {% endfor %}
                                                    <button class="btn btn-purple d-block mt-3" type="submit">اعمال
                                                        انتخاب ها
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-9 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                <div class="order-filters">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-10 my-1">
                          <span class="d-block d-sm-inline-block"
                          >مرتب سازی بر اساس:</span
                          >
                                                <a
                                                        href="{% url 'product:product-list' %}?sort_by=-time"
                                                        class="order-filter d-block d-sm-inline-block {% if request.GET.sort_by == '-time' %}active{% endif %}">
                                                    جدید ترین
                                                </a>
                                                <a
                                                        href="{% url 'product:product-list' %}?sort_by=price"
                                                        class="order-filter d-block d-sm-inline-block {% if request.GET.sort_by == 'price' %}active{% endif %}">
                                                    ارزان ترین
                                                </a>
                                                <a
                                                        href="{% url 'product:product-list' %}?sort_by=-price"
                                                        class="order-filter d-block d-sm-inline-block {% if request.GET.sort_by == '-price' %}active{% endif %}">
                                                    گران ترین
                                                </a>
                                                <a
                                                        href="{% url 'product:product-list' %}?sort_by=-hits"
                                                        class="order-filter d-block d-sm-inline-block {% if request.GET.sort_by == '-hits' %}active{% endif %}">
                                                    پربازدید
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <div class="container">
                                        <div
                                                class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-md-4"
                                        >
                                            {% for product in page_obj %}
                                                {% include 'product/components/product_card_component.html' %}
                                            {% empty %}
                                                <div class="col-12">
                                                    <div class="alert alert-secondary">محصولی یافت نشد.</div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                        {% include 'core/components/paginate_component.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
