{% load static %}
<div class="my-2">
    <div class="container">
        <div class="rounded border p-2">
            <div class="row text-center">
                <div class="col-12 mb-2">
                    <img
                            {% if shop.image %}
                                src="{{ shop.image.url }}"
                                class="shop-profile-img"
                            {% else %}
                                src="{% static 'site_statics/img/bg/no-image.png' %}"
                                class="shop-profile-img border"
                            {% endif %}
                                alt="{{ shop.title }}"
                                width="100%"
                                height="150"
                    />
                </div>
                <div class="col-12">
                    <h4 class="font-vazir-bold-fd">{{ shop.title }}</h4>
                    <div class="mt-2">
                        <i class="fas fa-star text-purple"></i>
                        <i class="fas fa-star text-purple"></i>
                        <i class="fas fa-star text-purple"></i>
                        <i class="fas fa-star text-purple"></i>
                        <i class="far fa-star"></i>
                        (4.5 امتیاز)
                    </div>
                    <p>
                        {{ shop.about|truncatewords:12 }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>