{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TX8GF3N1Z1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-TX8GF3N1Z1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NDDPCGJ');</script>
    <!-- End Google Tag Manager -->


    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block meta_tags %}
        <meta property="og:url" content="https://picofelez.ir/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="پیکوفلز | مرجع آنلاین آهن">
        <meta name="og:description" content="با پیکوفلز ، بازار خرید و فروش آنلاین آهن را تجربه کنید.">

        <!-- Twitter Meta Tags -->
        <meta property="twitter:url" content="https://picofelez.ir/">
        <meta name="twitter:title" content="پیکوفلز | مرجع آنلاین آهن">
        <meta name="twitter:description" content="با پیکوفلز ، بازار خرید و فروش آنلاین آهن را تجربه کنید.">

        <meta name="keywords"
              content="بازار آنلاین آهن ، خرید آهن ، بازار آهن ، پیکوفلز ، قیمت آهن ، فروش آنلاین آهن ، مارکت پلیس آهن">

        <meta name="title" content="پیکوفلز | مرجع آنلاین آهن"/>
        <meta name="description" content="با پیکوفلز ، بازار خرید و فروش آنلاین آهن را تجربه کنید.">
    {% endblock %}
    <meta name="author" content="پیکوفلز - آهن">
    <meta property="og:image" content="https://picofelez.ir/static/site_statics/img/logo/platformImage.jpg">
    <meta name="twitter:image" content="https://picofelez.ir/static/site_statics/img/logo/platformImage.jpg">

    <link rel="shortcut icon" href="https://picofelez.ir/static/site_statics/img/logo/16x16.png"/>
    <link href="https://picofelez.ir/static/site_statics/img/logo/16x16.png" type="image/png" rel="icon"/>
    <title>{% block title %}{% endblock %}</title>

    {% include 'core/base/_header_refrences.html' %}
    {% block meta_css_codes %}

    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDDPCGJ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{% include 'core/base/_header.html' %}

{% include 'core/base/_mobile-nav.html' %}

{% block content %}

{% endblock %}

{% include 'core/base/_footer.html' %}


{% include 'core/base/_footer_refrences.html' %}
{% block meta_js_codes %}

{% endblock %}
</body>
</html>