{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'site_statics/img/logo/16x16.png' %}"/>
    <title>{% block title %}{% endblock %}</title>
    {% include 'core/base/_header_refrences.html' %}
    {% block meta_css_codes %}

    {% endblock %}
</head>
<body>
{% include 'core/base/_header.html' %}

{% include 'core/base/_mobile-nav.html' %}

{% block content %}

{% endblock %}

{% include 'core/base/_footer.html' %}


{% include 'core/base/_footer_refrences.html' %}
{% block meta_js_codes %}

{% endblock %}
</body>
</html>