{% load static %}
<footer class="footer pt-3 mb-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="footer-logo">
                    <img src="{% static 'site_statics/img/logo/forSiteHeader.png' %}" alt="picofelez"/>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <p class="text-gray">
                    پیکو فلز ، جامعه آهن فروشان ایران!
                </p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 text-center">
                <p class="h4">با ما تماس بگیرید</p>
                <div class="footer-link">
                    <i class="fas fa-envelope"></i>
                    <a href="#">info@picofelez.ir</a>
                </div>
                <div class="footer-link">
                    <i class="fa-brands fa-instagram"></i>
                    <a href="#">picofelez</a>
                </div>
                <div class="footer-link">
                    <i class="fa-brands fa-telegram"></i>
                    <a href="#">picofelez@</a>
                </div>
                <div class="footer-link">
                    <i class="fas fa-phone"></i>
                    <a href="#">09199060659</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <form>
                    <div class="input-group">
                        <input
                                type="text"
                                class="form-control custom-form-control"
                                placeholder="ایمیل"
                                aria-label="news"
                                aria-describedby="news-form"
                        />
                        <span class="input-group-text" id="news-form">
                  <button type="submit" class="btn">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </span>
                    </div>
                </form>
                <p class="text-gray mt-3">
                    ایمیل خودرا وارد کنید تا در اولین فرصت از اخبار و مقالات ما با خبر
                    شوید.
                </p>
            </div>
            <hr class="mt-4"/>
            <div class="col-md-12">
                <p>&copy; 2022 کلیه حقوق پیکوفلز محفوظ است.</p>
            </div>
        </div>
    </div>
</footer>