{% load static %}
<footer class="footer pt-3 mb-5 bg-white">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 text-center">
                <a href="#" class="footer-logo">
                    <img src="{% static 'site_statics/img/logo/forSiteHeader.png' %}" alt="picofelez"/>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 text-center">
                <p class="h4">با ما تماس بگیرید</p>
                <div class="footer-link">
                    <i class="fas fa-envelope"></i>
                    <a href="#">info@picofelez.ir</a>
                </div>
                <div class="footer-link">
                    <i class="fa-brands fa-instagram"></i>
                    <a href="#">picofelez</a>
                </div>
                <div class="footer-link">
                    <i class="fas fa-phone"></i>
                    <a href="tel:09199060659">09199060659</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 text-center">
                <p class="h5">لینک های مفید</p>
                <div class="footer-link">
                    <a href="{% url 'core:home' %}">خانه</a>
                </div>
                <div class="footer-link">
                    <a href="{% url 'core:about-us' %}">درباره ما</a>
                </div>
                <div class="footer-link">
                    <a href="{% url 'core:contact-us' %}">تماس باما</a>
                </div>
                <div class="footer-link">
                    <a href="{% url 'shop:shop-list' %}">فروشنده ها</a>
                </div>
            </div>
            <hr class="mt-4"/>
            <div class="col-md-12">
                <p>&copy; 1402 کلیه حقوق پیکوفلز محفوظ است.</p>
            </div>
        </div>
    </div>
</footer>