{% with request.resolver_match.url_name as url_name %}

    <div class="mobile-main-nav" id="mobile-main-nav">
        <div id="mobile-main-nav-close">
            <i class="fas fa-times"></i>
            بستن منو
        </div>
        <ul id="mobile-main-nav-items">
            <li {% if url_name == 'home' %}class="main-nav-active-item"{% endif %}>
                <a href="{% url 'core:home' %}">خانه</a>
            </li>
            <li {% if url_name == 'work-sample-list' %}class="main-nav-active-item"{% endif %}>
                <a href="{% url 'metallurgy:work-sample-list' %}">نمونه کار ها</a>
            </li>
            <li {% if url_name == 'calculator' %}class="main-nav-active-item"{% endif %}>
                <a href="{% url 'core:calculator' %}">محاسبه وزن</a>
            </li>
            <li {% if url_name == 'blog-list' %}class="main-nav-active-item"{% endif %}>
                <a href="{% url 'blog:blog-list' %}">مجله پیکوفلز</a>
            </li>
            <li {% if url_name == 'product-list' %}class="main-nav-active-item"{% endif %}>
                <a href="{% url 'product:product-list' %}">محصولات</a>
            </li>
        </ul>
    </div>

{% endwith %}