{% extends 'core/base/_base.html' %}
{% load static %}

{% block title %}پیکوفلز | حساب کاربری{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="login-page">
            <!-- breadcrumb start -->
            <section class="page-title-box container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 px-0">
                                    <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                    <p>بازار آنلاین آهن</p>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'core:home' %}">خانه</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                حساب کاربری
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content">
                            <div class="row">
                                <div class="col-12 col-md-4 mb-2">
                                    {% include 'account/components/profile_side_component.html' %}
                                </div>
                                <div class="col-12 col-md-8 mb-2">
                                    <h5 class="title font-vazir-bold-fd">
                                        {{ request.user.get_full_name }} خوش آمدید!
                                    </h5>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 my-2">
                                            <div class="rounded-card box-shadow">
                                                <div class="h6 font-vazir-bold-fd">
                                                    <i class="fas fa-user"></i>
                                                    <a href="{% url 'account:user-profile-update' %}">ویرایش اطلاعات کاربری</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 my-2">
                                            <div class="rounded-card box-shadow">
                                                <div class="h6 font-vazir-bold-fd">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <a href="{% url 'account:user-order-list' %}">مشاهده سفارش های من</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 my-2">
                                            <div class="rounded-card box-shadow">
                                                <div class="h6 font-vazir-bold-fd">
                                                    <i class="fas fa-location"></i>
                                                    <a href="{% url 'account:user-address-list' %}">مدیریت آدرس های من</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 my-2">
                                            <div class="rounded-card box-shadow">
                                                <div class="h6 font-vazir-bold-fd">
                                                    <i class="fas fa-heart"></i>
                                                    <a href="{% url 'account:user-favorite-product' %}">محصولات مورد علاقه من</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    {% endwith %}
{% endblock %}