{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    پیکو فلز | ویرایش حساب کاربری
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="login-page">
            <!-- breadcrumb start -->
            <section class="page-title-box container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 px-0">
                                    <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                    <p>بازار آنلاین آهن</p>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'core:home' %}">خانه</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'account:user-profile' %}">حساب کاربری</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                ویرایش حساب کاربری
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content">
                            <div class="row">
                                <div class="col-12 col-md-4 mb-2">
                                    {% include 'account/components/profile_side_component.html' %}
                                </div>
                                <div class="col-12 col-md-8 mb-2 rounded-card box-shadow">
                                    <h5 class="title font-vazir-bold-fd mt-3 mt-md-0">ویرایش حساب کاربری</h5>
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6 mt-3 mb-2">
                                                <label for="number">شماره موبایل</label>
                                                <input type="text" value="{{ object.username }}" disabled="on"
                                                       class="form-control">
                                            </div>
                                            <div class="col-md-6 mt-0 mt-md-3 mb-2">
                                                <label for="email">ایمیل</label>
                                                {{ form.email|add_class:'form-control' }}
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <label for="first_name">نام</label>
                                                {{ form.first_name|add_class:'form-control' }}
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <label for="last_name">نام خانوادگی</label>
                                                {{ form.last_name|add_class:'form-control' }}
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <button type="submit" class="btn btn-success">
                                                    ویرایش
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    {% endwith %}
{% endblock %}