{% extends 'core/base/_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    پیکو فلز | سفارشات
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="login-page">
            <!-- breadcrumb start -->
            <section class="page-title-box container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 px-0">
                                    <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                    <p>بازار آنلاین آهن</p>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'core:home' %}">خانه</a>
                                            </li>
                                            <li class="breadcrumb-item">
                                                <a href="{% url 'account:user-profile' %}">حساب کاربری</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                سفارش های شما
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-content">
                            <div class="row">
                                <div class="col-12 col-md-4 mb-2">
                                    {% include 'account/components/profile_side_component.html' %}
                                </div>
                                <div class="col-12 col-md-8 mb-2">
                                    <h5 class="title font-vazir-bold-fd mt-3 mt-md-0">سفارش های شما</h5>
                                    <div class="row">
                                        {% for order in page_obj %}
                                            <div class="col-12 mb-2">
                                                <div class="orders-card box-shadow">
                <span>
                                    {% if order.is_paid %}
                                        <i class="fas fa-check text-success me-1"></i>
                                        پرداخت شده
                                    {% else %}
                                        <i class="fas fa-times text-danger me-1"></i>
                                        پرداخت نشده
                                    {% endif %}
                                            </span>
                                                    <ul class="text-gray d-flex flex-column flex-lg-row my-3">
                                                        <li class="me-3 ms-3 ms-lg-0">
                                                            {{ order.created_jalali.day }} {{ order.created_jalali.month }} {{ order.created_jalali.year }}
                                                        </li>
                                                        <li class="mx-3">کد سفارش : {{ order.id }}</li>
                                                        <li class="mx-3">مبلغ: {{ order.amount_payable|intcomma:False }}
                                                            تومان
                                                        </li>
                                                    </ul>
                                                    <hr/>
                                                    <div>

                                                        <p class="text-secondary">محصولات در سفارش:</p>
                                                        {% for order_detail in order.order_details.all %}
                                                            <a href="{% url 'product:product-detail' order_detail.product.id %}">
                                                                <img
                                                                        src='{{ order_detail.product.image.url }}'
                                                                        width="70"
                                                                        height="70"
                                                                        class="rounded mb-1 me-1"
                                                                        alt="{{ order_detail.product.title }}"
                                                                />
                                                            </a>
                                                        {% endfor %}

                                                    </div>
                                                    <hr/>
                                                    <a href="{% url 'account:user-order-detail' order.id %}"
                                                       class="btn btn-outline-success mb-2 me-1">
                                                        مشاهده سفارش
                                                        <i class="fas fa-eye ms-1"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-outline-success mb-2">
                                                        مشاهده فاکتور
                                                        <i class="fas fa-file-invoice ms-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <div class="alert alert-secondary">
                                            تا به حال خریدی نداشتید.
                                                <a href="{% url 'product:product-list' %}" class="text-primary">برای مشاهده محصولات کلیک کنید.</a>
                                            </div>
                                        {% endfor %}

                                    </div>
                                    {% include 'core/components/paginate_component.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    {% endwith %}
{% endblock %}
