{% extends 'core/base/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}    پیکوفلز | فاکتور {{ object.shop.title }}{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <section class="inner-page" id="shop-page">
            <section class="container my-5">
                <section class="row">
                    <div class="col-12 text-center">
                        {% if object.invoice_shop == 'sales' %}
                            <h4 class="font-vazir-bold-fd mb-3">
                                فاکتور فروش
                            </h4>
                        {% elif object.invoice_shop == 'pre' %}
                            <h4 class="font-vazir-bold-fd mb-3">
                                پیش فاکتور
                            </h4>
                            <h6 class="font-vazir-bold-fd">
                                <i class="fas fa-info-circle"></i>
                                توجه:
                                این فاکتور به عنوان "پیش فاکتور" صادر شده است و اعتبار آن تا
                                تاریخ <span dir="rtl">{{ object.life_time }}</span> می باشد و ارزش دیگری
                                ندارد.
                            </h6>
                        {% endif %}

                    </div>
                    <div class="col-12 col-md-12 mb-2">
                        <div class="rounded-card">
                            <div class="row">
                                <div class="col-12 mb-1">
                                    <ul class="abdi-metal-project-detail-meta mb-5">
                                        <li>
                                            <span>فروشنده :</span>
                                            <span>
                                                <a href="{% url 'shop:shop-detail' object.shop.slug %}"
                                                   class="text-primary" target="_blank">
                                                {{ object.shop.title }}
                                            </a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>شناسه :</span>
                                            <span>
                                                {{ object.pk }}
                                            </span>
                                        </li>
                                        {% if object.date %}
                                            <li>
                                                <span>تاریخ:</span>
                                                <span dir="rtl">
                                                    {{ object.date }}
                                                    </span>
                                            </li>
                                        {% endif %}
                                        {% if object.address %}
                                            <li>
                                                <span>آدرس:</span>
                                                <span dir="rtl">
                                                    {{ object.address }}
                                                    </span>
                                            </li>
                                        {% endif %}
                                        {% if object.user %}
                                            <li>
                                                <span>خریدار:</span>
                                                <span dir="rtl">
                                                    {{ object.user.get_full_name }}
                                                    </span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="col-12">
                                    <p class="font-vazir-bold-fd mb-4 h5 title">جزئیات فاکتور</p>
                                    <div class="table-responsive table-responsive-sm">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">عنوان</th>
                                                <th scope="col">مقدار</th>
                                                <th scope="col">تعداد</th>
                                                <th scope="col">قیمت واحد</th>
                                                <th scope="col">جمع</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in object.invoice_details.all %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{{ item.name|safe }}</td>
                                                    <td>
                                                        {{ item.quantity }}
                                                        {% if item.quantity_name %}
                                                            <small>
                                                                ({{ item.quantity_name }})
                                                            </small>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if item.count_of_order %}
                                                            {{ item.count_of_order }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{ item.amount|intcomma:False }}
                                                        <small>
                                                            تومان
                                                        </small>
                                                    </td>
                                                    <td>
                                                        {{ item.get_total_price|intcomma:False }}
                                                        <small>
                                                            تومان
                                                        </small>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td>فاکتوری ثبت نشده</td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="col-12 mb-3">
                                    <ul class="abdi-metal-project-detail-meta list-unstyled">
                                        <li class="bg-light p-2">
                                            <span>جمع خالص فاکتور:</span>
                                            {{ object.get_total_invoice_details|intcomma:False }} تومان
                                        </li>

                                        {% if object.tax %}
                                            <li class="bg-light p-2">
                                                <span>مالیات:</span>
                                                {{ object.tax }} %
                                            </li>
                                        {% endif %}

                                        {% if object.discount %}
                                            <li class="bg-light p-2">
                                                <span>تخفیف:</span>
                                                {{ object.discount|intcomma:False }} تومان
                                            </li>
                                        {% endif %}

                                        <li class="bg-light p-2">
                                            <span>کرایه (حمل و بارگیری):</span>
                                            {{ object.transport_cost|intcomma:False }} تومان
                                        </li>

                                        <li class="bg-light p-2">
                                            <span>جمع کل فاکتور:</span>
                                            {{ object.get_total_invoice_price|intcomma:False }} تومان
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-12 mb-3">
                                    <button class="btn btn-outline-success disabled-print mt-3 mt-md-0"
                                            onclick="print()">
                                        دانلود pdf
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% if related_invoices %}
                        <div class="col-12 my-4 disabled-print">
                            <p class="font-vazir-bold-fd mb-4 h5 title">فاکتور های مرتبط</p>
                            <div class="row">
                                {% for related_invoice in related_invoices %}
                                    <div class="col-md-6 col-xl-4 mb-3">
                                        <a href="{% url 'account:user-shop-invoices-detail' related_invoice.pk %}"
                                           class="card box-shadow">
                                            <div class="card-body py-4 px-4">
                                                <div class="mb-4">
                                                    <p class="h6 font-vazir-bold-fd">{{ related_invoice.description }}</p>
                                                    <p class="text-secondary abdi-metal-project-desc">
                                                        {% if related_invoice.invoice_shop == 'pre' %}
                                                            <span class="badge bg-purple">
                                                        {{ related_invoice.get_invoice_shop_display }}
                                                        </span>
                                                        {% elif related_invoice.invoice_shop == 'sales' %}
                                                            <span class="badge bg-success">
                                                            {{ related_invoice.get_invoice_shop_display }}
                                                            </span>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                                <div class="abdi-metal-project-meta">
                                                    <p>
                                                        {{ related_invoice.shop.title }}
                                                        <br>
                                                        <span>
                                                فروشگاه
                                            </span>
                                                    </p>
                                                    <p>

                                                        {{ related_invoice.date }}

                                                        <br>
                                                        <span>
                                                تاریخ
                                            </span>
                                                    </p>
                                                    <p>
                                                        {{ related_invoice.get_total_invoice_price|intcomma:False }}
                                                        تومان
                                                        <br>
                                                        <span>
                                                جمع کل
                                            </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}
                </section>
            </section>
        </section>
    {% endwith %}
{% endblock %}
