{% extends 'core/base/_base.html' %}
{% load static %}

{% block title %}{{ object.title }} | پیکوفلز{% endblock %}

{% block meta_tags %}
    <meta property="og:url" content="https://picofelez.ir/{{ object.slug }}/products">
    <meta property="og:type" content="website">
    <meta property="og:title" content="پیکوفلز | {{ object.title }}">
    <meta name="og:description" content="محصولات {{ object.title }}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:url" content="https://picofelez.ir/">
    <meta name="twitter:title" content="پیکوفلز | مرجع آنلاین آهن">
    <meta name="twitter:description" content="محصولات {{ object.title }}">

    <meta name="keywords"
          content="بازار آنلاین آهن ، خرید آهن ، بازار آهن ، پیکوفلز ، قیمت آهن ، فروش آنلاین آهن ، مارکت پلیس آهن">

    <meta name="title" content="پیکوفلز | {{ object.title }}"/>
    <meta name="description" content="محصولات {{ object.title }}">
{% endblock %}

{% block content %}
    <section class="inner-page" id="shop-page">
        <!-- breadcrumb start -->
        <section class="page-title-box container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h3 class="font-vazir-bold-fd">پیکوفلز</h3>
                                <p>گروه فلزکاری عبدی</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="{% url 'core:home' %}">خانه</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            آهن فروشی عبدی
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <section class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-12 col-lg-12 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                {% include 'shop/components/shop_profile_component.html' %}
                            </div>
                            <div class="col-12 my-2 col-md-4">
                                <a href="{% url 'shop:shop-detail' shop.slug %}" class="btn btn-purple w-100">درباره
                                    فروشگاه</a>
                            </div>
                            <div class="col-12 my-2 col-md-4">
                                <a href="{% url 'shop:shop-contact' shop.slug %}" class="btn btn-success w-100">ارتباط
                                    با فروشگاه</a>
                            </div>
                            <div class="col-12 my-2 col-md-4">
                                <a href="{% url 'shop:shop-rating' shop.slug %}" class="btn btn-warning w-100">امتیاز دادن</a>
                            </div>
                            <hr class="my-4">
                            <div class="mt-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <h5 class="fw-bold title mt-2 my-3">محصولات این فروشگاه</h5>
                                        </div>
                                    </div>
                                    <div
                                            class="row row-cols-1 row-cols-sm-3 row-cols-lg-4 gx-md-4"
                                    >
                                        {% for product in object.multiple_products.all %}
                                            {% if product.is_active == True %}
                                                {% include 'product/components/multiple_product_card_component.html' with in_shop_page=True %}
                                            {% endif %}
                                        {% empty %}
                                            <div class="alert alert-secondary">محصولی یافت نشد.</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}