<div class="col-12 col-md-4 mb-4">
    <div class="rounded-card box-shadow">
        <div class="text-center">
            <img
                    src="{{ product.image.url }}"
                    alt="{{ product.title }}"
                    class="multiple-product-detail-img"
            />
            <p class="h5 font-vazir-bold-fd my-3">
                {{ product.title }}
            </p>
            <div>
                {% if product.width %}
                    <span class="badge border rounded text-black">
                                                   ضخامت {{ product.width }}
                                                </span>
                {% endif %}
                <span class="badge border rounded text-black">
                                                   وزن تقریبی هر شاخه {{ product.weight }}
                                                </span>
                <span class="badge border rounded text-black">
                                                   طول هر شاخه {{ product.length }}
                                                </span>
            </div>
            <a href="{% url 'product:multiple-product-detail' product.id %}" class="btn btn-purple btn-sm mt-4">
                <i class="fas fa-eye"></i>
                مشاهده و خرید
            </a>
        </div>
    </div>
</div>