{% load humanize %}
<div class="col" style="display: block">
    <!-- product box -->
    <div class="col">
        <div class="product">
            <a href="{% url 'product:product-detail' product.id %}">
                <img
                        src="{{ product.image.url }}"
                        class="product-img"
                        alt="{{ product.title }}"
                        loading="lazy"
                />
            </a>
            <div class="product-details p-3">
                <div class="product-category">
                    {% for category in product.categories.all %}
                        <a href="{% url 'product:product-list' %}?categories={{ category.id }}">{{ category.name }}</a>
                        /
                    {% endfor %}
                </div>
                <a href="{% url 'product:product-detail' product.id %}">
                    <h2 class="product-name">
                        {{ product.title }} -
                        <small>{{ product.shop.title }}</small>
                    </h2>
                </a>
                {% if product.stock < 1 %}
                    <div class="product-price text-danger">ناموجود</div>
                    {% else %}
                <div class="product-price">{{ product.price|intcomma:False }} تومان</div>
                {% endif %}
                <div class="product-rate">
                    <i class="fas fa-star text-purple"></i>
                    <i class="fas fa-star text-purple"></i>
                    <i class="fas fa-star text-purple"></i>
                    <i class="fas fa-star text-purple"></i>
                    <i class="far fa-star"></i>
                    (4.5 امتیاز)
                </div>
            </div>
        </div>
    </div>
</div>